div.row {
	display: block;
	width: 100%;
}
.row-center{
	min-height: 400px;
	height: auto;
	overflow: auto;
}
.row-social{
	height: auto;
	overflow: auto;
}
#center_pub {
	width: 1020px;
	min-height: 400px;
	overflow: auto;
	height: auto;
	margin: 0 auto;
	padding: 10px 90px 20px;
	clear: both;
}
#container {
	width: 1020px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	padding: 10px 90px 20px;
	clear: both;
}
#center_pub div.container-left,
#container div.container-left {
	float: left;
	width: 55%;
}
#center_pub h2 {
	color: #505050;
	display: block;
	clear: both;
	margin: 8px 0px;
	padding: 0px 20px;
}
#container div.container-left > h2{
	margin-left: 325px;
}
div.container-left div.content-box, 
div.container-large div.content-box-pub {
	clear: both;
	display: block;
	float: left;
}
div.content-box {
	background-color: #00adef;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 510px;
	margin: 10px;
	padding: 20px;
}
#center_pub div.container-right, 
#container div.container-right{
	float: right;
	width: 45%;
}
.stitle{
	color:#00519a;
	font-weight: bold;
	margin-bottom: 10px;
}
.t_total{
	color:#b8b8b8;
	margin-left: 15px;
}
.t_total strong{
	color:#009ad4;
}
.p_marg{
	margin: 10px 0 0 0;
}
div.hometitle {
	display: block;
	float: left;
	clear: both;
}
div.content-box-white,div.content-box-pub {
	background-color: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
div.content-box-white {
	width: 450px;
	margin: 10px;
	padding: 20px;
	float: left;
}
#center_pub div.container-large {
	float: left;
	width: 100%;
}
div.content-box-pub {
	width: 1020px;
	margin: 10px;
	padding: 20px;
}
.publicacion{
	float: left;
	width: 435px;
	min-height: 130px; 
	margin: 0px 10px 10px 0px;
}
.publicacion_left{
	float: left;
	width: 60%;
}
.publicacion_right{
	float: right;
	width: 25%;
}
.compartir > li{
	margin-bottom: 7px;
}
.form-group {
	margin-bottom: 15px;
	color:#fff;
	font-weight: bold;
}
.form-group > label{
	color:#fff;
	font-weight: bold;
	float: left;
	width: 130px;
}
.form-btn{
	border-top:1px solid #fff;
	padding-top: 5px;
}
.btn-search{
	margin-left:210px;
}
#share_publicacion{
	display: inline-block;
}
.ui-widget{
	font-size: 0.8em!important;
}
.btn-success{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background: #a1c235;
	color: #fff;
}
.btn-info{
	display: inline-block;
	padding: 6px 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background: #009ad4;
	color: #fff;
}
#id_energia, 
#id_fuente, 
#id_tipo,	
#id_idioma{
	display: inline-block;
	width: 70%;
	height: 30px;
	padding: 2px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#id_desde, #id_hasta {
	display: inline-block;
	width: 20.5%;
	height: 25px;
	padding: 2px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
