/* CSS Document */
*{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline; color:blue;}
ul{list-style:none}
img{border:0}

body{background-color:#e6e6e6;font-family:Arial, Helvetica, sans-serif}
#top{background:url(../imagenes/backtop.png) repeat-x;width:100%;height:48px}
#top p{text-shadow: 0 2px 3px #3c160b;font-size:12px;color:#fff;padding:20px 0px 0px 406px;}
#top p a{margin:0px 5px 0px 5px;color:#fff}
.contenedor{width:1200px;text-align:left}
#menulogin{position: absolute;top: 0;right: 0px}
#buscar{width:185px;position:absolute;top:40px;margin-left:920px}
#inputbuscar{background:url(../imagenes/backinput.png);width:162px;height:32px;border:0;padding:0px 5px 0px 5px}
#backazul,#backrojo{width:50%;height:142px;float:left;background-repeat:repeat-x}
#backazul{ background:url(../imagenes/backazul.png)}
#backrojo{ background:url(../imagenes/backrojo.png)}
#seprojozaul{background:url(../imagenes/sepazulrojo.png) no-repeat;width:49px;height:142px;position:relative;left:-24px;float:left}
#logo{background:url(../imagenes/backlogo.png) no-repeat;width:291px;height:108px;z-index:3;position:absolute;top:0;padding:10px 0px 0px 20px; margin-left:100px}
#backmapa{width:100%;height:540px;position:relative;z-index:1;margin-bottom:20px;border-bottom:1px solid #fff}
#mapa{height:100%}
#menumapa{width:202px;height:500px;background:url(../imagenes/backmenumapa.png) no-repeat; position:absolute;top:20px;right:212px;padding:15px 20px}
#menumapa h1,#menukml h1{font-size:16px;color:#fff;text-shadow: 0 2px 3px #000;margin-bottom:20px}
#menumapa .item,#menukml .item{width:200px;text-align:left;height:33px}
#menumapa .item li,#menukml .item li{float:left}
#menumapa .item li.chech,#menukml .item li.chech{width:30px}
#menumapa .item li.icon,#menukml .item li.icon{width:21px;}
#menumapa .item li.texto,#menukml .item li .texto{width:134px;margin-left:15px;font-size:14px;color:#fff}
#menumapa .item li.texto a,#menukml .item li .texto a {font-size:14px;color:#fff}

#menukml{width:172px;background:url(../imagenes/backmenumapakml.png) repeat; position:absolute;top:190px;right: 0px;padding:20px}
#buscadoravanzado{
    display: block;
    background:url(../imagenes/backboton.png) no-repeat;
    width:185px;
    height:16px;
    color:#fff;
    text-align:center;
    font-size:12px;
    border: none;
    padding-top: 6px;
    padding-bottom: 12px;
}
#buscadoravanzado.unlock{
    font-size:14px;
    padding-top: 6px;
    padding-bottom: 10px;
}
#busqueda{background:url(../imagenes/backboton.png) no-repeat;width:185px;height:34px;color:#fff;text-align:center;font-size:14px;border: none;}
#buscadoravanzado:hover{text-shadow: 0 2px 3px #000;text-decoration:none}
#menumapa .separador{width:200px;padding-top:20px;background:url(../imagenes/sepmapmenu.png) repeat-x left top;}
#textorojo{float:right;margin-right:50px;width:260px;height:112px;background:url(../imagenes/bombillo.png) no-repeat left center;padding:30px 0px 0px 90px;color:#fff}
#textoazul{float:left;margin-left:20px;width:260px;height:112px;background:url(../imagenes/hoja.png) no-repeat left center;padding:30px 0px 0px 90px;color:#fff}
#textorojo h1,#textoazul h1{font-size:14px;font-weight:normal;margin-bottom:10px}
#textorojo p,#textoazul p{font-size:40px;text-shadow: 1px 1px white, -1px -1px #444;}
#textorojo p a,#textoazul p a{color: #fff}
#backverde{width:100%;background:url(../imagenes/backverde.png) repeat-x;height:352px;margin:20px 0px 0px 0px}
.limpiar{clear:both}
#selector{width:490px;float:right;padding-top:70px;margin-right:115px}
select#anhos{visibility:hidden}
#textverde{width:420px;float:left;margin:30px 0px 0px 110px}
#textverde h1{font-size:16px;color:#fff;text-shadow: 0 2px 3px #3c160b;margin-bottom:10px}
#textverde p{font-size:14px;color:#005a2d}
.indicadores{margin:28px 0px 0px 110px}
.indicadores li{width:132px;height:200px;float:left;margin-right:8px;text-align:center;}
.backindicador{background:url(../imagenes/backiconos.png) no-repeat;width:132px;height:172px;padding:10px 0px 0px 0px;margin-bottom: 18px}
.indicadores li h2{font-size:10px;color:#303030;font-weight:normal;height: 30px;text-transform: uppercase;margin-top: 5px}
.indicadores li p{font-size:16px;color:#005a2d;font-weight:700;text-shadow: 0 1px 2px #fff}
.indicadores li p span{font-size:12px;color:#005a2d;font-weight:700;text-shadow: 0 1px 2px #fff}
#backgrafico{margin-top:20px}
#textografico{border-radius: 10px;background-color:#FFF;width:280px;float:left;padding:15px 20px 15px 20px;margin-left:100px }
#textografico h1{font-size:16px;color:#005a2d;margin-bottom:10px}
#textografico p{font-size:14px;color:#505050;margin-bottom:10px}
#grafico{border-radius: 10px;background-color:#FFF;width:620px;float:left;padding:20px;margin-left:20px }
#backgris{width:100%;background-color:#303030;margin-top:20px;height:115px;padding-top:20px}
#footer{width:420px;float:left;margin-left:110px;color:#FFFFFF;font-size:12px}
#footer h1{font-size:14px}
#footer a,#guegue a{color:#FFF}
#siguenos{float:right;margin-right:100px;width:220px;color:#00aeff;font-size:12px;text-align:center;}
#redes li{float:right;margin-right:20px;margin-top:10px;border:0}
#redes li a img{text-decoration:none;border:0}
#backguegue{background-color:#000;height:20px;width:100%;padding-top:5px}
#guegue{text-align:right;margin:0px 110px 0px 0px;color:#fff;font-size:12px;}
.hideElement {display:none;}
.labels {color: white;font-size: 12px; white-space: nowrap;}
.checkbuscar{margin: 3px 0px 0px 3px}

.clear{ clear: both; }

#izq-buscador h2,#der-buscador h2 , .textosflat h2 {color: #233956;font-size: 14px;margin: 10px 10px 10px 0px;}
#izq-buscador{width: 230px;float: left;margin-left: 100px}
h3.titularbuscador{color: #233956;font-size: 16px;margin:0px 00px 10px 40px;}
.textosflat h2 {padding-top: 8px; font-size: 16px;padding-bottom: 7px;}
.buscadoravanzado{
    width:208px;
    background-color:#fff;
    border:#522909 1px solid;
    moz-border-radius-bottomright: 4px;
    -webkit-border-radius: 4px;
    -khtml-border--radius: 4px;
    border-radius: 4px;
    text-align: left;
    padding: 5px
}

#der-buscador{width: 720px;float: right;margin-right: 100px;}
#cajaresultado{
    width: 720px;
    background-color: #fff;
    border:#522909 1px solid;
    moz-border-radius-bottomright: 4px;
    -webkit-border-radius: 4px;
    -khtml-border--radius: 4px;
    border-radius: 4px;
    text-align: left;
    padding: 5px}

#hideElement{display: none;}
.buscadoravanzado .botonmas{font-size: 12px;color: #233956;background: none;border: none }
.columnabusqueda{width:190px;float:left;padding:5px;}
.columnabusqueda input{margin-top: 2px}
.columnabusqueda p{width:160px;float:right;font-size:12px}

.resultados{border-bottom:#333333 1px solid;padding:10px 10px 20px 10px;font-size:14px;}

.resultados h2{margin-bottom:10px;font-size:14px;color:#333333}
.resultados h2 a,.resultados p a{color:#333333}
.resultados p, .textosflat p {color:#333333;margin-bottom:10px;}
p.caracteristicas{font-size:12px;margin-bottom:3px;color:#333;font-weight:700}

.triangulo{background: url("../imagenes/triangulo.png") no-repeat;background-position: 50% 100%}

#botonsalir{float: right;color: #fff;font-size: 12px;padding: 10px 150px 0px 0px}

.toltipmapa{width: 400px;text-align: left}
.toltipmapa p{border: none;font-size: 12px;}



.cluster{
    color: #FFFFFF;
    text-align:center;
    font-family: Verdana;
    font-size:14px;
    font-weight:bold;
    text-shadow: 0 0 2px #000;
    -moz-text-shadow: 0 0 2px #000;
    -webkit-text-shadow: 0 0 2px #000;
}
.cluster-1{
    background: url(images/m1.png) no-repeat;
    line-height:50px;
    width: 50px;
    height: 40px;
}
.cluster-2{
    background: url(images/m2.png) no-repeat;
    line-height:53px;
    width: 60px;
    height: 48px;
}
.cluster-3{
    background: url(images/m3.png) no-repeat;
    line-height:66px;
    width: 70px;
    height: 56px;
}

/* infobulle */
.infobulle{
    overflow: hidden;
    cursor: default;
    clear: both;
    position: relative;
    height: 34px;
    padding: 0pt;
    background-color: rgb(57, 57, 57);
    border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border: 1px solid #2C2C2C;
}
.infobulle .bg{
    font-size:1px;
    height:16px;
    border:0px;
    width:100%;
    padding: 0px;
    margin:0px;
    background-color: #5E5E5E;
}
.infobulle .text{
    color:#FFFFFF;
    font-family: Verdana;
    font-size:11px;
    font-weight:bold;
    line-height:25px;
    padding:4px 20px;
    text-shadow:0 -1px 0 #000000;
    white-space: nowrap;
    margin-top: -17px;
}
.infobulle.drive .text{
    background: url(images/drive.png) no-repeat 2px center;
    padding:4px 20px 4px 36px;
}
.arrow{
    position: absolute;
    left: 45px;
    height: 0pt;
    width: 0pt;
    margin-left: 0pt;
    border-width: 10px 10px 0pt 0pt;
    border-color: #2C2C2C transparent transparent;
    border-style: solid;
}

.toplogin{background: url("../imagenes/backtoplogin.png") repeat-x !important;height: 35px;border-radius:10px 10px 0px 0px;}

.login #container {
    background: white;
    border: 1px solid #CCC;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius:10px 10px 10px 10px;

}

#detallecaja{
    width: 820px;
    margin-left: 100px;
    text-align: left;
    background-color: #fff;
    border:#522909 1px solid;
    moz-border-radius-bottomright: 4px;
    -webkit-border-radius: 4px;
    -khtml-border--radius: 4px;
    border-radius: 4px;
    text-align: left;
    padding: 5px}
#imagendetalle{width: 300px;float: left;}
#textosdetalle{width: 480px;float: right;color: #333333}
#textosdetallecontacto{width: 480px;margin-left: 200px;color: #333333}
#textosdetalle h1,#textosdetallecontacto h1,.titulares{font-size: 18px;margin-bottom: 10px;color: #333333}
#textosdetalle a,#textosdetallecontacto a{color: #333333}
#textosdetalle p,#textosdetallecontacto p{font-size: 12px;margin-bottom: 5px}
#detallecaja h2.titular{font-size: 16px;margin:10px 0px 10px 0px;border-bottom: #333333 1px solid;padding-bottom: 10px;color: #333333}
.textosflat{font-size: 14px;margin:10px 0px 10px 0px;padding-bottom: 10px;color: #333333}
.menunav{margin: 0px 80px 40px 100px}
.menunav p{color: #233956;font-size: 12px;font-weight: 700}
.menunav a{margin: 0px 10px 0px 10px;color: #233956;font-size: 12px;font-weight: 700}

#cargadormapa{width: 100%;background-color: #313131;height:100%;z-index: 2;position: relative;top: -540px; opacity: 0.5;}

#acercasistema{float: left;margin-left: 10px;font-size:14px;font-weight: 700;}
#acercasistema a{color: #fff}

/* -- algunos estilos a las flatpage  --*/
.page{

}
#detallecaja.page{
    padding: 20px 20px;
}
#detallecaja.page p{
    line-height: 1.2em;
    padding:0.4em 0 0.4em 0;
}

#detallecaja.page h1, #detallecaja.page h2, #detallecaja.page h3{
    margin: 0.3em 0 0.3em 0;
    color:#333333;
}
#detallecaja.page h1{
    font-size: 16px;
}
#detallecaja.page h2{
    font-size: 14px;
}
#detallecaja.page h3{
    font-size: 12px;
}

#detallecaja.page ul, #detallecaja.page ul{
    margin-left: 40px;
    list-style: disc inside;
}
#detallecaja.page ul li, #detallecaja.page ul li{
    line-height: 1.4em;
}

#detallecaja.page .pagethumb{
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

/* hidden google map print */
.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
    visibility:hidden;
}

.filtermap {padding:20px 20px 60px 20px; display: block; width:690px;height: 450px; background: #fff; border:solid 1px #522909;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

.filtermap p {
    font-weight: bold;
    color:#F9BE00;
    padding: 10px 0px;
}
