<html xmlns="http://www.w3.org/1999/xhtml" lang="es-es" xml:lang="es-es" >
<head>
    <title>Iniciar sesión | Renovables</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/login.css" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/ie.css" /><![endif]-->
    <meta name="robots" content="NONE,NOARCHIVE" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
</head>


<body class="login">
<div id="top" align="center">
    <div class="contenedor">
        <div id="logo"><a href="http://www.renovables.org.ni"><img src="{{ STATIC_URL }}imagenes/logo.png" width="260" height="66" alt="" /></a></div>
        <p><a href="#Indicadores">ACERCA DEL SISTEMA</a>  |  <a href="#">PROYECTOS</a>  |  <a href="#">BIBLIOGRAFÍA</a>  |  <a href="#">CONTACTO</a></p>

    </div><!--contenedor top-->
</div><!--top-->
</div>
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header" class="toplogin">
        <div id="branding">
            <h1 id="site-name">Login Renovables</h1>
        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <form action="" method="post" id="login-form">{% csrf_token %}
                {% if form.errors %}<p class="errornote">
                    Por favor, introduzca un nombre de usuario y contraseña correctos. Note que ambos campos son sensibles a mayúsculas/minúsculas.
                </p>{% endif %}
                <div class="form-row">
                    <label for="id_username" class="required">Usuario:</label> <input id="id_username" type="text" name="username" maxlength="30" />
                </div>
                <div class="form-row">
                    <label for="id_password" class="required">Contraseña:</label> <input type="password" name="password" id="id_password" />
                </div>
                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="Iniciar sesión" />
                </div>

            </form>
            <script type="text/javascript">
                document.getElementById('id_username').focus()
            </script>
        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<div id="backgris" align="center">
    <div class="contenedor" style="margin-bottom: 150px">
        <div id="footer">
            <h1>Asociacion Renovables de Nicaragua</h1>
            <p>Los Robles, Plaza el Sol 2c al sur, #202. Managua, Nicaragua.</p>
            <p>Teléfono: (505) 2278-4182  </p>
            <a href="mailto:renovables.nicaragua@gmail.com">renovables.nicaragua@gmail.com </a>
        </div>
        <div id="siguenos">
            <p>Visitanos en las redes sociales</p>
            <ul id="redes">
                <li><a href="#"><img src="{{ STATIC_URL }}imagenes/youtube.png" width="31" height="31" alt="" /></a></li>
                <li><a href="#"><img src="{{ STATIC_URL }}imagenes/twitter.png" width="31" height="31" alt="" /></a></li>
                <li><a href="#"><img src="{{ STATIC_URL }}imagenes/picasa.png" width="31" height="31" alt="" /></a></li>
                <li><a href="#"><img src="{{ STATIC_URL }}imagenes/facebook.png" width="31" height="31" alt="" /></a></li>
            </ul>
        </div>
    </div>
</div><!--backgris-->
<div id="backguegue" align="center">
    <div class="contenedor"><p id="guegue"><a href="http://www.guegue.com">Guegue.com</a> | Desarrollo y Hospedaje Web</p></div>
</div>
<!-- END Container -->
</body>
</html>
