{% extends 'base.html' %}
{% load thumbnail %}
{% block JS %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/publicaciones.css">  
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/flick/jquery-ui.css">
	<script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script> 
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "db01a283-d5f6-4db9-b864-e367098bf58a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <script type="text/javascript">
  // Call this function once the rest of the document is loaded
    function loadAddThis() {
        addthis.init()
    }
  </script>
{% endblock %}
{% block CONTENIDO %}
<div class="row row-social">
  <div id="container">
    <div class="container-left">
      <h2><a href="/biblioteca/" style="color:#333;">BIBLIOTECA</a></h2>
    </div>
    <div class="container-right">
      <span class='st_facebook_hcount' displayText='Facebook'></span>
      <span class='st_twitter_hcount' displayText='Tweet'></span>
      <span class='st_email_hcount' displayText='Email'></span>
    </div>
  </div>
</div>
<div class="row row-center">
  <div id="center_pub">
    <div class="container-left">
      <h2>Publicaci&oacute;n</h2>
      <div class="content-box-white">
        <div class="publicacion">
           {% thumbnail publicacion.imagen "120x120" as im %}
            <a href=""><img align="left" style="margin-right: 15px" src="{{ im.url }}" width="90" height="120"></a>
           {% endthumbnail %}
           <div class="descripcion">
            <p class="stitle">{{ publicacion.titulo }}</p>
            <p>{{ publicacion.descripcion }}</p><br />
            <ul>
              <li>{{ publicacion.energia }}</li>
              <li>Publicado el: {{ publicacion.fecha|date:"d/m/Y" }}</li>
              <li>Autor: {{ publicacion.autor }}</li>
            </ul>
           </div>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div class="home-title">
        <h2>&Uacute;ltimas Publicaciones</h2>
      </div>
      <div class="content-box-white">
        {% for item in recientes_list %}
        <div class="publicacion">
            {% thumbnail item.imagen "120x120" as im %}
            <a href=""><img align="left" style="margin-right: 15px" src="{{ im.url }}" width="90" height="120"></a>
            {% endthumbnail %}
          <div class="descripcion">
            <p class="stitle">{{ item.titulo }}</p>
            <ul>
              <li>{{ item.energia }}</li>
              <li>Publicado el:{{ item.fecha|date:"d/m/Y" }}</li>
              <li>Autor:{{ item.autor }}</li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="http://s7.addthis.com/js/300/addthis_widget.js#async=1" type="text/javascript"></script>
<script type="text/javascript">
<!--
addthis.init();
// -->
</script>
{% endblock %}


