{% extends 'base.html' %}
{% block title %}Error 404: Documento No Encontrado{%endblock%}
{%block CONTENIDO %}
<div class="row" style='height:450px;'>
	<div style='margin:50px auto; width:500px;'>
    <h2>Error 404: Documento No Encontrado</h2>
    <p>Lo sentimos, pero la pagina que usted solicit&oacute; no existe. 
    Puede tratar de encontrar la página accediendo a la p&aacute;gina de inicio del sitio web.
    </p>

    <script>
      var GOOG_FIXURL_LANG = ('es').slice(0,2),GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>

 </div>
 </div>
{%endblock%}
