<h2 class="titularbuscador">Tipo de Busqueda</h2>
<div class="buscadoravanzado">
	<input type="checkbox" id="filterby_organization" name="filterby_organization" value="1"/><label for="filterby_organization">Organizaci&oacute;n</label><br/>
	<input type="checkbox" id="filterby_system" name="filterby_system" value="1"/><label for="filterby_system">Sistemas de generaci&oacute;n</label><br/>
	<input type="checkbox" id="filterby_project" name="filterby_project" value="1"/><label for="filterby_project">Proyectos</label><br/>
	<input type="checkbox" id="filterby_contact" name="filterby_project" value="1"/><label for="filterby_project">Contactos</label><br/>
</div>

<h2 class="titularbuscador">Palabras claves</h2>
<div class="buscadoravanzado">
    <input type="text" id="keywords" name="keywords"/>
</div>

<h2>Fuentes</h2>
<div class="buscadoravanzado">
<select id="fltr_src" name="fltr_src" multiple="multiple" style="width:190px;">
{% for fuente in fuentes%}
<option value="{{fuente.id}}">{{fuente.nombre}}</option>
{% endfor %}
</select>
</div>

<h2>Organizaciones</h2>
<div class="buscadoravanzado">
<select id="fltr_org" name="fltr_org" multiple="multiple" style="width:190px;">
{% for organizacion in organizaciones%}
<option value="{{organizacion.id.id}}">{{organizacion.nombre}}</option>
{% endfor %}
</select>
</div>

<h2>Actividades</h2>
<div class="buscadoravanzado">
<select id="fltr_act" name="fltr_act" multiple="multiple" style="width:190px;">
{% for actividad in actividades%}
<option value="{{actividad.id}}">{{actividad.nombre}}</option>
{% endfor %}
</select>
</div>

{% if materiaPrima %}
<h2>Materia(s) Prima</h2>
<div class="buscadoravanzado">
    {% for item in materiaPrima %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masmateria{% endif %}"><input name="materia" id="id_materia_{{ item.id }}"  type="checkbox" value="{{ item.id }}" class="stylecheck"  /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 2 < materiaPrima.count  %}
    <input id="materiaboton" name="Actividadboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=3)">
    {% endif %}
</div>
{% endif %}

<h2 class="titularbuscador">Presupuesto</h2>
<div class="buscadoravanzado">
    <select id="presupuesto" name="presupuesto" title="Escoge del menú" style="font-size: 12px;">
        <option value="-1">Presupuesto total</option>
        <option value="1">menores de mil US$</option>
        <option value="2">entre mil y 10 mil US$</option>
        <option value="3">entre 10 mil y 100 mil US$</option>
        <option value="4"> entre 100 mil y 1 millón US$</option>
        <option value="5">entre 1millón y 10 millones US$ </option>
        <option value="6">mayores de 10 millones US$ </option>
    </select>
</div><!--buscadoravanzado-->
