{% load humanize %}
{% load flatpages %}
{% load thumbnail %}
{% load tagsextras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block TITULO %}Renovables{% endblock %}</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />

{% block JS %}{% endblock %}
</head>
<body>
<div id="top" align="center">
	<div class="contenedor">

    	<div id="logo"><a href="http://www.renovables.org.ni"><img src="{{ STATIC_URL }}imagenes/logo.png" width="260" height="66" alt="" /></a></div>
        <p>
            <a href="http://renovables.org.ni"><img src="{{ STATIC_URL }}imagenes/home.png" width="20" height="20" alt="" /></a>  |
            <a href="http://renovables.org.ni/quienes-somos">QUIÉNES SOMOS</a>  |
            <a href="http://renovables.org.ni/que-hacemos">QUE HACEMOS</a>  |
            <a href="http://renovables.org.ni/medios">MEDIOS</a> |
            <a href="http://renovables.org.ni/informacion">INFORMACIÓN</a>  |
            <a href="http://renovables.org.ni/alianzas">ALIANZAS</a>  |
            <a href="http://renovables.org.ni/simernic">SIMERNIC</a>  |
            <a href="http://renovables.org.ni/contacto">CONTACTO</a>
        </p>
    </div><!--contenedor top-->


</div><!--top-->
{% block CONTENIDO %}



{% endblock %}
<div id="backgris" align="center">
	<div class="contenedor">
    	<div id="footer">
    	{% load flatpages %}
	{% get_flatpages '/footer/' as direccion %}
		{%if direccion %}
		<h1>{{direccion.0.title}}</h1>
		<p>{{direccion.0.content|safe}}</p>
		{%else%}
		<p>Por favor cree un flatpage con url /footer/ y gestione el titular y el contenido que desean mostrar</p>
		{%endif%}
        	<!--h1>Asociacion Renovables de Nicaragua</h1>
            <p>Los Robles, Plaza el Sol 2c al sur, #202. Managua, Nicaragua.</p>
            <p>Teléfono: (505) 2278-4182  </p>
            <a href="mailto:renovables.nicaragua@gmail.com">renovables.nicaragua@gmail.com </a-->
        </div>
        {% get_flatpages '/acerca/' as acerca %}
        <div id="acercasistema"><a href="/simernic{{acerca.0.url}}">Acerca del sistema</a></div>
      <div id="siguenos">
        	<p>Visitanos en las redes sociales</p>
          <ul id="redes">
           	  <li><a href="#"><img src="{{ STATIC_URL }}imagenes/youtube.png" width="31" height="31" alt="" /></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}imagenes/twitter.png" width="31" height="31" alt="" /></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}imagenes/picasa.png" width="31" height="31" alt="" /></a></li>
              <li><a href="#"><img src="{{ STATIC_URL }}imagenes/facebook.png" width="31" height="31" alt="" /></a></li>
          </ul>
        </div>
    </div>
</div><!--backgris-->
<div id="backguegue" align="center">
	<div class="contenedor"><p id="guegue"><a href="http://www.guegue.com">Guegue.com</a> | Desarrollo y Hospedaje Web</p></div>
</div>
<input id="anhoselect" name="anhoselect" type="hidden" value=".indicador{{ anhoselect.anho }}" />
</body>
</html>
