{% extends 'base.html' %}
{% load thumbnail %}
{% block JS %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/publicaciones.css">  
  <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css">   -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/flick/jquery-ui.css">
	<script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script> 
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "db01a283-d5f6-4db9-b864-e367098bf58a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <script type="text/javascript">
  // Call this function once the rest of the document is loaded
    function loadAddThis() {
        addthis.init()
    }
  </script>
{% endblock %}
{% block CONTENIDO %}
<div class="row row-social">
  <div id="container">
    <div class="container-left">
      <h2>BIBLIOTECA</h2>
    </div>
    <div class="container-right">
      <span class='st_facebook_hcount' displayText='Facebook'></span>
      <span class='st_twitter_hcount' displayText='Tweet'></span>
      <span class='st_email_hcount' displayText='Email'></span>
    </div>
  </div>
</div>
<div class="row row-center">
  <div id="center_pub">
    <div class="container-left">
      <h2>B&uacute;squeda</h2>
      <div class="content-box">
        <div class="post">
            <form action="" method="POST">{%csrf_token%}
              <div class="form-group">
                <label for="energia">Fuente Energ&iacute;a</label>
                  {{ search_form.energia }}
              </div>
              <div class="form-group">
                <label for="desde">Publicado</label>
                  Entre {{ search_form.desde }} Hasta {{ search_form.hasta }}
              </div>
              <div class="form-group">
                <label for="tipo">Tipo</label>
                  {{ search_form.tipo }}
              </div>
              <div class="form-group">
                <label for="fuente">Fuente</label>
                  {{ search_form.fuente }}
              </div>
              <div class="form-group">
                <label for="idioma">Idioma</label>
                  {{ search_form.idioma }}
              </div>
              <div class="form-btn">
                <button type="submit" class="btn-success btn-search">Buscar</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div class="home-title">
        <h2>&Uacute;ltimas Publicaciones</h2>
      </div>
      <div class="content-box-white">
        {% for item in recientes_list %}
        <div class="publicacion">
            {% thumbnail item.imagen "120x120" as im %}
            <a href=""><img align="left" style="margin-right: 15px" src="{{ im.url }}" width="90" height="120"></a>
            {% endthumbnail %}
          <div class="descripcion">
            <p><a class="stitle" href="{{ item.get_absolute_url }}">{{ item.titulo }}</a></p>
            <ul>
              <li>{{ item.energia }}</li>
              <li>Publicado el:{{ item.fecha|date:"d/m/Y" }}</li>
              <li>Autor:{{ item.autor }}</li>
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="row row-center">
  <div id="center_pub">
    <h3 class="t_total">Su b&uacute;squeda de publicaciones muestras <strong>{{ contador }} resultados </strong> </h3>
    <div class="container-large">
      {% for item in resultado %}
      <div class="content-box-pub">
        <div class="publicacion_left">
          <div class="post">
            {% thumbnail item.imagen "120x120" as im %}
              <a href=""><img align="left" style="margin-right: 15px" src="{{ im.url }}" width="90" height="120"></a>
              {% endthumbnail %}
          </div>
          <p><a href="{{ item.get_absolute_url }}" class="stitle">{{ item.titulo }}</a></p>
          <p class="p_marg">Publicado el {{ item.fecha|date:"d/m/Y" }} | Autor: {{ item.autor }}</p>
          <p class="p_marg">{{ item.descripcion }}</p>
        </div>
        <div class="publicacion_right">
          <ul class="compartir">
            <li><strong>C&oacute;digo: {{ item.codigo }}</strong></li>
            <li>{{ item.energia }}</li>
          </ul>
          {% if item.archivo %}
           <a class="btn-info" target="_blank" href="{{ item.archivo.url }}">Descargar</a>
           {% endif %}
          <div id="share_publicacion" class="addthis_toolbox"
	          addthis-toolbox
            addthis:url='http://{{ site }}{{ item.slug }}'
            addthis:title='{{ item.titulo|truncatewords:8 }}'
            addthis:description='{{ item.descripcion|truncatewords:10}}'>
            <a class="addthis_button_compact share btn-success"><span>Compartir</span></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script src="http://s7.addthis.com/js/300/addthis_widget.js#async=1" type="text/javascript"></script>
<script type="text/javascript">
<!--
addthis.init();
// -->
</script>
 <script>
  $(function() {
    $( "#id_desde" ).datepicker({dateFormat:'yy-mm-dd'});
    $( "#id_hasta" ).datepicker({dateFormat:'yy-mm-dd'});
  });
  </script>
{% endblock %}


