{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% block TITULO %}Renovables{% endblock %}
{% block JS %}
    <link href="{{ STATIC_URL }}css/ui.slider.extras.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.7.3.custom.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery.multiselect.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery.multiselect.filter.css" rel="stylesheet" type="text/css" />
    <!-- script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script -->
    <script src="http://maps.googleapis.com/maps/api/js?v=3.4&sensor=false&key=AIzaSyDMZKv585ZAu3B1mW3ywK09m2NgStyrAQ0" type="text/javascript"></script>
    <!-- script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>
    <!-- script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.1.custom.min.js"></script -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/selectToUISlider.jQuery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerwithlabel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.multiselect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.multiselect.filter.js"></script>
    <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}floppyforms/js/MapWidget.js"></script>
    <script type="text/javascript">
        jQuery.fn.getCheckboxVal = function(){
            var vals = [];
            var i = 0;
            this.each(function(){
                vals[i++] = jQuery(this).val();
            });
            return vals;
        }
        function vermas(item){
            if (item == 1){
                boton=$("#fuenteRenovableboton").val();
                if(boton=='ver más...'){
                    $("#fuenteRenovableboton").attr("value","ver menos...");
                    $(".masfuenteRenovable").removeClass("hideElement");
                }else{
                    $("#fuenteRenovableboton").attr("value","ver más...");
                    $(".masfuenteRenovable").addClass("hideElement");
                }
            }
            if (item == 2){
                boton=$("#Actividadboton").val();
                if(boton=='ver más...'){
                    $("#Actividadboton").attr("value","ver menos...");
                    $(".masactividades").removeClass("hideElement");
                }else{
                    $("#Actividadboton").attr("value","ver más...");
                    $(".masactividades").addClass("hideElement");
                }
            }
            if (item == 3){
                boton=$("#materiaboton").val();
                if(boton=='ver más...'){
                    $("#materiaboton").attr("value","ver menos...");
                    $(".masmateria").removeClass("hideElement");
                }else{
                    $("#materiaboton").attr("value","ver más...");
                    $(".masmateria").addClass("hideElement");
                }
            }
            if (item == 4){
                boton=$("#vegetalboton").val();
                if(boton=='ver más...'){
                    $("#vegetalboton").attr("value","ver menos...");
                    $(".masvegetal").removeClass("hideElement");
                }else{
                    $("#vegetalboton").attr("value","ver más...");
                    $(".masvegetal").addClass("hideElement");
                }
            }
            if (item == 5){
                boton=$("#tipoentidadboton").val();
                if(boton=='ver más...'){
                    $("#tipoentidadboton").attr("value","ver menos...");
                    $(".mastipoentidad").removeClass("hideElement");
                }else{
                    $("#tipoentidadboton").attr("value","ver más...");
                    $(".mastipoentidad").addClass("hideElement");
                }
            }
            if (item == 6){
                boton=$("#organizacionboton").val();
                if(boton=='ver más...'){
                    $("#organizacionboton").attr("value","ver menos...");
                    $(".masOrganizacion").removeClass("hideElement");
                }else{
                    $("#organizacionboton").attr("value","ver más...");
                    $(".masOrganizacion").addClass("hideElement");
                }
            }              
        }
        function busquedatipo(tipo) {
            if (tipo == 1){
                $("#tipobusquedas").load("{% url 'organization_search' %}");
            }
            if (tipo == 2){
                $("#tipobusquedas").load("{% url 'system_search' %}");
            }
            if (tipo == 3){
                $("#tipobusquedas").load("{% url 'project_search' %}");
            }
            if (tipo == 4){
                $("#tipobusquedas").load("{% url 'contact_search' %}");
            }
        }
    </script>

{% endblock %}
{% block CONTENIDO %}
<div align="center">
    <div class="contenedor" style="padding-top: 80px" >
            <div class="menunav">{%if user.is_authenticated%}<p><a name="bienvenido">Bienvenido {{user.get_full_name}}</a>  | <a href="{% url 'simernic_home' %}">Inicio</a> |<a href="{% url 'logout' %}?next={% url 'simernic_home' %}">Salir</a></p>{%endif%}</div>

            <div id="izq-buscador">
                <h2 class="titularbuscador">Tipo de Busqueda</h2>
                <div class="buscadoravanzado">
                    <div class="columnabusqueda"><input  checked="checked" name="tipobusqueda" id="organizaciones" onclick="busquedatipo(1)"  type="radio" value="1"   /><p>Organizaciones</p></div>
                    <div class="limpiar"></div>
                    <div class="columnabusqueda"><input  name="tipobusqueda" id="sistemas" onclick="busquedatipo(2)"  type="radio" value="2"   /><p>Sistemas de Generación</p></div>
                    <div class="limpiar"></div>
                    <div class="columnabusqueda"><input  name="tipobusqueda" id="proyectos" onclick="busquedatipo(3)"  type="radio" value="3"   /><p>Proyectos</p></div>
                    <div class="limpiar"></div>
                    <div class="columnabusqueda"><input  name="tipobusqueda" id="contacto" onclick="busquedatipo(4)"  type="radio" value="4"   /><p>Contacto</p></div>
                    <div class="limpiar"></div>
                </div><!--buscadoravanzado-->

                <div id="tipobusquedas">
                    {%include 'busquedaorganizacion.html'%}
                </div>
 <h2 class="titularbuscador">&nbsp;</h2>               
                <button id="busqueda" name="busqueda" type="button" value="FILTRAR" onclick="actualizar()" style="cursor:pointer;">Filtrar</button>               
            </div>
            <div id="der-buscador">
               {%include 'resultadosorganizaciones.html'%}
            </div>
            <div class="limpiar"></div>
    </div><!--contenedor backverde-->
    <div class="limpiar"></div>
</div><!--backverde-->

{% endblock %}
