<h2>Palabras Claves</h2>
<div class="buscadoravanzado">
    <input type="text" class="textbuscar" id="claves" name="claves" value="Buscar">
</div>
{% if fuenteRenovable %}
<h2>Fuente(s) Renovable</h2>
<div class="buscadoravanzado">
    {% for item in fuenteRenovable %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masfuenteRenovable{% endif %}"><input name="fuenteRenovable" id="id_fuenteRenovable_{{ item.id}}" type="checkbox" value="{{ item.id }}"   /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < fuenteRenovable.count  %}
    <input id="fuenteRenovableboton" name="Areaboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=1)">
    {% endif %}
</div>
{% endif %}
{% if tipoentidad %}
<h2>Tipo(s) de Entidad</h2>
<div class="buscadoravanzado">
    {% for item in tipoentidad %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement mastipoentidad{% endif %}"><input name="tipoentidad" id="id_tipoentidad_{{ item.id}}" type="checkbox" value="{{ item.id }}"   /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < tipoentidad.count  %}
    <input id="tipoentidadboton" name="Areaboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=5)">
    {% endif %}
</div>
{% endif %}

{% if actividad %}
<h2>Actividad(es)</h2>
<div class="buscadoravanzado">
    {% for item in actividad %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masactividades{% endif %}"><input name="actividad" id="id_actividad_{{ item.id }}" type="checkbox" value="{{ item.id }}" class="stylecheck"  /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < actividad.count  %}
    <input id="Actividadboton" name="Actividadboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=2)">
    {% endif %}
</div>

{% endif %}
<form id="exportar" target="_blank" action="{% url 'organization_export' %}" method="post">{% csrf_token %}
    <input id="arrFuente" name="arrFuente" type="hidden" value="" />
    <input id="arrActividad" name="arrActividad" type="hidden" value="" />
    <input id="arrTipoentidad" name="arrTipoentidad" type="hidden" value="" />
    <input id="arrclaves" name="claves" type="hidden" value="" />
    <input id="tipo" name="tipo" type="hidden" value="" />
</form>
<script type="text/javascript">
    function actualizar() {
        var arrTipoentidad = ""+$("input[name='tipoentidad']:checked").getCheckboxVal();
        if(arrTipoentidad == ""){var arrTipoentidad=0}
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}
        var arrActividad = ""+$("input[name='actividad']:checked").getCheckboxVal();
        if(arrActividad == ""){var arrActividad=0}
        // var claves=$('#claves').val()
        // $("#der-buscador").load("{% url 'organization_filter' %}",{
        //     arrFuente:arrFuente,
        //     arrActividad:arrActividad,
        //     arrTipoentidad:arrTipoentidad,
        //     arrclaves:claves
        // });

        //agregando esta parte //
        var claves =$('#claves').val()
        var poligono = $("#id_poly").val();
        $("#der-buscador").load("{% url 'organization_filter' %}",{
            arrFuente:arrFuente,
            arrActividad:arrActividad,
            arrTipoentidad:arrTipoentidad,
            claves:claves,
            poly: poligono
        });
    }
    function expo(data) {
        var arrTipoentidad = ""+$("input[name='tipoentidad']:checked").getCheckboxVal();
        if(arrTipoentidad == ""){var arrTipoentidad=0}
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}
        var arrActividad = ""+$("input[name='actividad']:checked").getCheckboxVal();
        if(arrActividad == ""){var arrActividad=0}
        var arrclaves=$('#claves').val()
        var arrclaves=$('#claves').val();
        $('#arrclaves').attr("value",arrclaves);
        $('#arrActividad').attr("value",arrActividad);
        $('#arrFuente').attr("value",arrFuente);
        $('#arrTipoentidad').attr("value",arrTipoentidad);
        $('#tipo').attr("value",data);
        $('#exportar').submit();
    }
    $(document).ready(function() {
        var match = 'input.textbuscar[@type=text]';
        $(match).focus(function(){
            this.valuedefault = this.valuedefault || this.value;
            if (this.value == this.valuedefault)
                this.value = '';
            $(this).css('color','#000');
        });
        $(match).blur(function(){
            if (this.value.length == 0 || this.value == this.valuedefault)
                $(this).css('color','#840800');
            if (this.valuedefault && this.value.length==0)
                this.value = this.valuedefault;
        });
    });
</script>
