<h2>Palabras Claves</h2>
<div class="buscadoravanzado">
    <input type="text" class="textbuscar" id="claves" name="claves" value="Buscar">
</div>
{% if fuenteRenovable %}
<h2>Fuente(s) Renovable</h2>
<div class="buscadoravanzado">
    {% for item in fuenteRenovable %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masfuenteRenovable{% endif %}"><input name="fuenteRenovable" id="id_fuenteRenovable_{{ item.id}}" type="checkbox" value="{{ item.id }}"   /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < fuenteRenovable.count  %}
    <input id="fuenteRenovableboton" name="Areaboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=1)">
    {% endif %}
</div>
{% endif %}
<h2 class="titularbuscador">Presupuesto</h2>
<div class="buscadoravanzado">
    <select id="presupuesto" name="presupuesto" title="Escoge del menú" style="font-size: 12px">
        <option value="-1">Presupuesto total</option>
        <option value="1">menores de mil US$</option>
        <option value="2">entre mil y 10 mil US$</option>
        <option value="3">entre 10 mil y 100 mil US$</option>
        <option value="4"> entre 100 mil y 1 millón US$</option>
        <option value="5">entre 1millón y 10 millones US$ </option>
        <option value="6">mayores de 10 millones US$ </option>
    </select>
</div><!--buscadoravanzado-->
<form id="exportar" target="_blank" action="{% url project_export %}" method="post">{% csrf_token %}
    <input id="arrFuente" name="arrFuente" type="hidden" value="" />
    <input id="arrpresupuesto" name="arrActividad" type="hidden" value="" />
    <input id="arrclaves" name="claves" type="hidden" value="" />
    <input id="tipo" name="tipo" type="hidden" value="" />
</form>
<script type="text/javascript">
    function actualizar() {
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}
        var presupuesto=$('#presupuesto').val()
        var claves=$('#claves').val()
        var poligono = $("#id_poly").val();
        $("#der-buscador").load("{% url project_filter %}",{
            arrFuente:arrFuente,
            presupuesto:presupuesto,
            claves:claves,
            poly: poligono
        });
    }
    function expo(data) {
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}
        var presupuesto=$('#presupuesto').val()
        var claves=$('#claves').val()
        $('#arrclaves').attr("value",claves);
        $('#arrFuente').attr("value",arrFuente);
        $('#arrpresupuesto').attr("value",presupuesto);
        $('#tipo').attr("value",data);
        $('#exportar').submit();
    }
    $(document).ready(function() {
        var match = 'input.textbuscar[@type=text]';
        $(match).focus(function(){
            this.valuedefault = this.valuedefault || this.value;
            if (this.value == this.valuedefault)
                this.value = '';
            $(this).css('color','#000');
        });
        $(match).blur(function(){
            if (this.value.length == 0 || this.value == this.valuedefault)
                $(this).css('color','#840800');
            if (this.valuedefault && this.value.length==0)
                this.value = this.valuedefault;
        });
    });
</script>
