<h2>Palabras Claves</h2>
<div class="buscadoravanzado">
    <input type="text" class="textbuscar" id="claves" name="claves" value="Buscar">
</div>
{% if fuenteRenovable %}
<h2>Fuente(s) Renovable</h2>
<div class="buscadoravanzado">
    {% for item in fuenteRenovable %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masfuenteRenovable{% endif %}"><input name="fuenteRenovable" id="id_fuenteRenovable_{{ item.id}}"  type="checkbox" value="{{ item.id }}"   /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < fuenteRenovable.count  %}
    <input id="fuenteRenovableboton" name="Areaboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=1)">
    {% endif %}
</div>
{% endif %}
<h2>Organizaciones</h2>
<div class="buscadoravanzado">
<select id="fltr_org" name="fltr_org" multiple="multiple" style="width:190px;">
{% for organizacion in organizaciones%}
<option value="{{organizacion.id.id}}">{{organizacion.nombre}}</option>
{% endfor %}
</select>
</div>
{% if materiaPrima %}
<h2>Materia(s) Prima</h2>
<div class="buscadoravanzado">
    {% for item in materiaPrima %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masmateria{% endif %}"><input name="materia" id="id_materia_{{ item.id }}"  type="checkbox" value="{{ item.id }}" class="stylecheck"  /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < materiaPrima.count  %}
    <input id="materiaboton" name="Actividadboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=3)">
    {% endif %}
</div>
{% endif %}
{% if vegetal %}
<h2>Vegetale(s) </h2>
<div class="buscadoravanzado">
    {% for item in vegetal %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masvegetal{% endif %}"><input name="vegetal" id="id_vegetal_{{ item.id }}" type="checkbox" value="{{ item.id }}" class="stylecheck"  /><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < vegetal.count  %}
    <input id="vegetalboton" name="Actividadboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=4)">
    {% endif %}
</div>
{% endif %}

<form id="exportar" target="_blank" action="{% url 'system_export' %}" method="post">{% csrf_token %}
    <input id="arrFuente" name="arrFuente" type="hidden" value="" />
    <input id="arrMateria" name="arrMateria" type="hidden" value="" />
    <input id="arrVegetal" name="arrVegetal" type="hidden" value="" />
    <input id="arrclaves" name="claves" type="hidden" value="" />
    <input id="tipo" name="tipo" type="hidden" value="" />
</form>
<script type="text/javascript">
    function actualizar() {
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}
        var arrMateria = ""+$("input[name='materia']:checked").getCheckboxVal();
        if(arrMateria == ""){var arrMateria=0}
        var arrVegetal = ""+$("input[name='vegetal']:checked").getCheckboxVal();
        if(arrVegetal == ""){var arrVegetal=0}
        var claves=$('#claves').val()
        var organizaciones= Array();
        $("#fltr_org option:selected").each(function(){
            organizaciones.push($(this).val());
        });
        var poligono = $("#id_poly").val();
        $("#der-buscador").load("{% url 'system_filter' %}",{
            arrFuente:arrFuente,
            arrMateria:arrMateria,
            arrVegetal:arrVegetal,
            claves:claves,
            fltr_org:organizaciones.join(","),
            poly: poligono
        });
    }
    function expo(data) {
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}
        var arrMateria = ""+$("input[name='materia']:checked").getCheckboxVal();
        if(arrMateria == ""){var arrMateria=0}
        var arrVegetal = ""+$("input[name='vegetal']:checked").getCheckboxVal();
        if(arrVegetal == ""){var arrVegetal=0}
        var arrclaves=$('#claves').val()
        var arrclaves=$('#claves').val();
        $('#arrclaves').attr("value",arrclaves);
        $('#arrMateria').attr("value",arrMateria);
        $('#arrFuente').attr("value",arrFuente);
        $('#arrVegetal').attr("value",arrVegetal);
        $('#tipo').attr("value",data);
        $('#exportar').submit();
    }
    $(document).ready(function() {
        var match = 'input.textbuscar[@type=text]';
        $(match).focus(function(){
            this.valuedefault = this.valuedefault || this.value;
            if (this.value == this.valuedefault)
                this.value = '';
            $(this).css('color','#000');
        });
        $(match).blur(function(){
            if (this.value.length == 0 || this.value == this.valuedefault)
                $(this).css('color','#840800');
            if (this.valuedefault && this.value.length==0)
                this.value = this.valuedefault;
        });
        $("#fltr_org").multiselect({minWidth:'190px'}).multiselectfilter({ width: '190px'}); 
    });
</script>
