<h2>Palabras Claves</h2>

<div class="buscadoravanzado">
    <input type="text" class="textbuscar" id="claves" name="claves" value="Buscar" onchange="actualizar()">
</div>

<h2>Organizaciones</h2>
<div class="buscadoravanzado">
    <select id="fltr_org" name="fltr_org" multiple="multiple" style="width:190px;">
    {% for organizacion in organizaciones%}
        <option value="{{organizacion.pk}}">{{organizacion.nombre}}</option>
    {% endfor %}
    </select>
</div>

{% if fuenteRenovable %}
<h2>Fuente(s) Renovable</h2>
<div class="buscadoravanzado">
    {% for item in fuenteRenovable %}
    <div class="columnabusqueda{% if forloop.counter > 5 %} hideElement masfuenteRenovable{% endif %}"><input name="fuenteRenovable" id="id_fuenteRenovable_{{ item.id}}" type="checkbox" value="{{ item.id }}"/><p>{{ item.nombre }}</p></div>
    <div class="limpiar"></div>
    {% endfor %}
    {% if 5 < fuenteRenovable.count  %}
    <input id="fuenteRenovableboton" name="Areaboton" type="button" class="botonmas" value="ver más..." onclick="vermas(item=1)">
    {% endif %}
</div>
{% endif %}


<form id="exportar" target="_blank" action="{% url 'contact_export' %}" method="post">{% csrf_token %}
    <input id="arrclaves" name="claves" type="hidden" value="" />
    <input id="tipo" name="tipo" type="hidden" value="" />
    <input id="arrOrganizacion" name="fltr_org" type="hidden" value="" />
</form>
<script type="text/javascript">
    function actualizar() {
        
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}

        var organizaciones= Array();
        $("#fltr_org option:selected").each(function(){
            organizaciones.push($(this).val());
        });
       var claves=$('#claves').val()
        $("#der-buscador").load("{% url 'contact_filter' %}",{
            arrFuente:arrFuente,
            fltr_org:organizaciones.join(","),
            claves:claves
        });
    }
    function expo(data) {
        var arrFuente = ""+$("input[name='fuenteRenovable']:checked").getCheckboxVal();
        if(arrFuente == ""){var arrFuente=0}

        var arrOrganizacion = ""+$("input[name='organizacion']:checked").getCheckboxVal();
        if(arrOrganizacion == ""){var arrOrganizacion=0}
        
        var organizaciones= Array();
        $("#fltr_org option:selected").each(function(){
            organizaciones.push($(this).val());
        });
       
        var claves=$('#claves').val()
        $('#arrclaves').attr("value",claves);
        $('#arrOrganizacion').attr("value", organizaciones.join(","));
        $('#arrFuente').attr("value",arrFuente);
        $('#tipo').attr("value",data);
        $('#exportar').submit();
    }
    $(document).ready(function() {
        var match = 'input.textbuscar[@type=text]';
        $(match).focus(function(){
            this.valuedefault = this.valuedefault || this.value;
            if (this.value == this.valuedefault)
                this.value = '';
            $(this).css('color','#000');
        });
        $(match).blur(function(){
            if (this.value.length == 0 || this.value == this.valuedefault)
                $(this).css('color','#840800');
            if (this.valuedefault && this.value.length==0)
                this.value = this.valuedefault;
        });

        $("#fltr_org").multiselect({minWidth:'190px'}).multiselectfilter({ width: '190px'}); 
    });
</script>
