{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% block TITULO %}Contacto {{contacto.nombre}} - Renovables{% endblock %}
{% block JS %}
    <link href="{{ STATIC_URL }}css/ui.slider.extras.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery-ui-1.7.1.custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/selectToUISlider.jQuery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerwithlabel.js"></script>
{% endblock %}
{% block CONTENIDO %}
<div align="center">
    <div  class="contenedor" style="padding-top: 80px" >
        <div class="menunav">
        	{%if user.is_authenticated%}
        			<p>
        				<a name="bienvenido">Bienvenido {{user.get_full_name}}</a> | 
        				<a href="{% url 'advanced_search' %}">Buscador Avanzado</a> | 
        				<a href="{% url 'simernic_home' %}">Inicio</a> |
        				<a href="{% url 'logout' %}?next={% url 'simernic_home' %}">Salir</a>
       				</p>
     		{%endif%}
   		</div>
            <div id="detallecaja">
                <div id="textosdetallecontacto">
                    <h1>{{contacto.nombre}}</h1>
                    {%if contacto.organizacion %}<p><b>Organización: </b><a href="{{ contacto.organizacion.get_absolute_url }}">{{contacto.organizacion.nombre}}</a></p>{%endif%}
                    {%if contacto.categoria %}<p><b>Tipo: </b>{{contacto.categoria.nombre}}</p>{%endif%}
                    {%if contacto.cargo %}<p><b>Cargo: </b>{{contacto.cargo}}</p>{%endif%}
                    {%if contacto.skype %}<p><b>Skype: </b>{{contacto.skype}}</p>{%endif%}
                    {%if contacto.web %}<p>{{contacto.web}}</p>{%endif%}
                    {%if contacto.direccion %}<p><b>Dirección: </b>{{contacto.direccion}}</p>{%endif%}
                    {%if contacto.telefono %}<p><b>Teléfono: </b>{{contacto.telefono}}</p>{%endif%}
                    {%if contacto.area %}<p><b>Área: </b>{{contacto.area}}</p>{%endif%}
                    {%if contacto.pais %}<p><b>País: </b>{{contacto.pais}}</p>{%endif%}
                </div>
                <div class="limpiar"></div>
            </div><!--detallecaja-->
    </div><!--contenedor -->
    <div class="limpiar"></div>
</div><!--center-->

{% endblock %}
