{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% block TITULO %}Proyecto {{proyecto.nombre}} - Renovables{% endblock %}
{% block JS %}
    <link href="{{ STATIC_URL }}css/ui.slider.extras.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery-ui-1.7.1.custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/selectToUISlider.jQuery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerwithlabel.js"></script>
{% endblock %}
{% block CONTENIDO %}
<div align="center">
    <div  class="contenedor" style="padding-top: 80px" >
        <div class="menunav">
        	{%if user.is_authenticated%}
        			<p>
        				<a name="bienvenido">Bienvenido {{user.get_full_name}}</a> | 
        				<a href="{% url 'advanced_search' %}">Buscador Avanzado</a> | 
        				<a href="{% url 'simernic_home' %}">Inicio</a> |
        				<a href="{% url 'logout' %}?next={% url 'simernic_home' %}">Salir</a>
       				</p>
     		{%endif%}
   		</div>
        <div id="detallecaja">
            <div id="pruebamapa">
                {% include 'mapaproyecto.html' %}
            </div>
            <div id="mapa" style="width: 100%;height:300px;margin-bottom: 20px"></div>
            <div id="imagendetalle">
                {%if proyecto.get_imagen %}
                {% thumbnail proyecto.get_imagen "300x300" format="PNG" as im %}
                <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                {%endif%}
            </div>
            <div id="textosdetalle">
                <h1>{{proyecto.nombre}}</h1>
                <p><b>Organización: </b><a href="{{proyecto.organizacion.get_absolute_url}}">{{proyecto.organizacion.nombre}}</a></p>
                {%if proyecto.enlace %}<p>{{ proyecto.enlace}}</p>{%endif%}
                <p class="caracteristicas">Fuente(s) Renovable(s):</p>
                {%for fuente in proyecto.fuente.all%}
                <img align="left" style="margin-right: 15px" src="{{ fuente.imagen.url }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
                <div class="limpiar"></div>
                {%endfor%}
                {%if proyecto.get_beneficiarios.all.count > 0%}
                <p><b>Beneficiario(s): </b></p>
                    {%for beneficiario in proyecto.get_beneficiarios.all%}
                    <p><b>Año {{ beneficiario.anho }}: </b>  {{ beneficiario.numero }} personas.</p>
                    {%endfor%}
                {%endif%}
                {%if proyecto.monto %}<p><b>Monto: </b>{{proyecto.monto}}</p>{%endif%}
                {%if proyecto.donante %}<p><b>Donante: </b>{{proyecto.donante}}</p>{%endif%}

            </div>
            <div class="limpiar"></div>
        </div><!--detallecaja-->
    </div><!--contenedor -->
    <div class="limpiar"></div>
</div><!--center-->

{% endblock %}
