{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% block TITULO %}Organizaci&oacute;n {{organizacion.nombre}} - Renovables{% endblock %}
{% block JS %}
<link href="{{ STATIC_URL }}css/ui.slider.extras.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/jquery-ui-1.7.1.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/markerwithlabel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/markerclusterer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>

{% endblock %}
{% block CONTENIDO %}
<div align="center">
    <div  class="contenedor" style="padding-top: 80px" >
        <div class="menunav">
        	{%if user.is_authenticated%}
        			<p>
        				<a name="bienvenido">Bienvenido {{user.get_full_name}}</a> | 
        				<a href="{% url 'advanced_search' %}">Buscador Avanzado</a> | 
        				<a href="{% url 'simernic_home' %}">Inicio</a> |
        				<a href="{% url 'logout' %}?next={% url 'simernic_home' %}">Salir</a>
       				</p>
     		{%endif%}
   		</div>

            <div id="detallecaja">
            <div id="pruebamapa">
                {% include 'mapaorganizacion.html' %}
            </div>
            <div id="mapa" style="width: 100%;height:300px;margin-bottom: 20px"></div>
            <div id="cargadormapa"><img style="margin-top: 200px" src="{{ STATIC_URL }}imagenes/ico_cargando.gif " alt=""></div>

            <div class="limpiar"></div>
               <div id="imagendetalle">
                
                {%if organizacion.logo %}
                    {% thumbnail organizacion.logo "300x300" format="PNG" as im %}
                        <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {%endif%}
                </div>
                <div id="textosdetalle">
                    <h1>{{organizacion.nombre}}</h1>
                    {%if organizacion.razon%}
                    <p><b>Razón Social: {{organizacion.razon}}</b></p>
                    {%endif%}
                    {%if organizacion.tipo%}
                    <p><b>Tipo: {{organizacion.tipo.nombre}}</b></p>
                    {%endif%}
                    <p class="caracteristicas">Fuente(s) Renovable(s):</p>
                    {%for fuente in organizacion.fuente.all%}
                    <img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
                    <div class="limpiar"></div>
                    {%endfor%}
                    {%if organizacion.web %}<br /><p><b>P&aacute;gina web:</b> <a href="{{organizacion.web}}">{{organizacion.web}}</a>{%if organizacion.web2 %}, <a href="{{organizacion.web2}}">{{organizacion.web2}}</a>{% endif %}</p>{%endif%}
                    {%if organizacion.get_email%}
                    <p><b>Email(s): </b>
                        {%for email in organizacion.get_email%}
                        {%if forloop.last%}
                        {{ email.email }}.
                        {%else%}
                        {{ email.email }},
                        {%endif%}
                        {%endfor%}
                    </p>
                    {%endif%}
                    {%if organizacion.actividad.all.count > 0%}
                    <p><b>Actividade(s): </b>
                    {%for actividad in organizacion.actividad.all%}
                        {%if forloop.last%}
                            {{ actividad.nombre }}.
                        {%else%}
                        {{ actividad.nombre }},
                        {%endif%}
                    {%endfor%}
                    </p>
                    {%endif%}
                    {%if organizacion.gremial%}
                        <p><b>La organización es miembro de asociación GREMIAL</b></p>
                    {%endif%}
                    {%if organizacion.renovable%}
                    <p><b>La organización es miembro  en Renovables</b></p>
                    {%endif%}
                    {%if organizacion.nic%}
                    <p><b>La organización es consesionario  en Nicaragua.</b></p>
                    {%endif%}
                    {%if organizacion.asociacion%}
                    <p><b>Otra asociación: </b>{{organizacion.asociacion}}</p>
                    {%endif%}
                    {%if organizacion.telefono%}
                    <p><b>Teléfono: </b>{{organizacion.telefono}}</p>
                    {%endif%}
                    {%if organizacion.direccion%}
                    <p><b>Dirección: </b>{{organizacion.direccion}}</p>
                    {%endif%}
                    {%if organizacion.pais%}
                    <p><b>País: </b>{{organizacion.pais}}</p>
                    {%endif%}
                </div>
                <div class="limpiar"></div>
                {%if organizacion.get_responsable%}
                <h2 class="titular">Responsable</h2>
                <div class="resultados" align="center">
                    <div style="width: 480px;font-size: 12px;text-align: left">
                        <h2><a href="{{ organizacion.get_responsable.contacto.get_absolute_url }}">{{organizacion.get_responsable.contacto.nombre}}</a></h2>
                        <div style="float: left;width:230px">
                            {%if organizacion.get_responsable.contacto.cargo%}<p><b>Cargo:</b>{{organizacion.get_responsable.contacto.cargo}}</p>{%endif%}
                            {%if organizacion.get_responsable.contacto.area%}<p><b>Área:</b>{{organizacion.get_responsable.contacto.area}}</p>{%endif%}
                            {%if organizacion.get_responsable.contacto.direccion%}<p><b>Dirección:</b>{{organizacion.get_responsable.contacto.direccion}}</p>{%endif%}
                        </div>
                        <div style="float: right;width:230px">
                            {%if organizacion.get_responsable.contacto.telefono%}<p><b>Teléfono:</b>{{organizacion.get_responsable.contacto.telefono}}</p>{%endif%}
                            {%if organizacion.get_responsable.contacto.categoria%}<p><b>Categoría:</b>{{organizacion.get_responsable.contacto.categoria}}</p>{%endif%}
                            {%if organizacion.get_responsable.contacto.skype%}<p><b>Skype:</b>{{organizacion.get_responsable.contacto.skype}}</p>{%endif%}
                            {%if organizacion.get_responsable.contacto.web%}<p><b>Página Web:</b> {{organizacion.get_responsable.contacto.web}}</p>{%endif%}
                        </div>
                        <div class="limpiar"></div>
                    </div>
                    <div class="limpiar"></div>
                </div>
                {%endif%}
                {%if organizacion.get_contactos %}
                <h2 class="titular">Otros contacto(s)</h2>
                {%for resultado in organizacion.get_contactos %}
                <div class="resultados" align="center">
                    <div style="width: 480px;font-size: 12px;text-align: left">
                        <h2><a href="{{ resultado.get_absolute_url }}">{{resultado.nombre}}</a></h2>
                        <div style="float: left;width:230px">
                            <p><b>Organización:</b>{{resultado.organizacion}}</p>
                            {%if resultado.cargo%}<p><b>Cargo:</b>{{resultado.cargo}}</p>{%endif%}
                            {%if resultado.area%}<p><b>Área:</b>{{resultado.area}}</p>{%endif%}
                            {%if resultado.direccion%}<p><b>Dirección:</b>{{resultado.direccion}}</p>{%endif%}
                        </div>
                        <div style="float: right;width:230px">
                            {%if resultado.telefono%}<p><b>Teléfono:</b>{{resultado.telefono}}</p>{%endif%}
                            {%if resultado.categoria%}<p><b>Categoría:</b>{{resultado.categoria}}</p>{%endif%}
                            {%if resultado.skype%}<p><b>Skype:</b>{{resultado.skype}}</p>{%endif%}
                            {%if resultado.web%}<p><b>Página Web:</b>{{resultado.web}}</p>{%endif%}
                        </div>
                        <div class="limpiar"></div>
                    </div>
                    <div class="limpiar"></div>
                </div>
                {%endfor%}
                {%endif%}
               {%if organizacion.get_proyectos %}
                <img style="margin: 5px 10px 0px 0px" align="left" src="{{ STATIC_URL }}imagenes/promapa.png" alt="PROYECTOS"> <h2 class="titular">Proyecto(s)</h2>
                {%for resultado in organizacion.get_proyectos %}
                <div class="resultados">
                    {%if resultado.get_imagen %}
                    <div style="float: right;width: 200px">
                        {% thumbnail resultado.get_imagen "200x200" format="PNG" as im %}
                        <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </div>
                    {%endif%}
                    <div style="float: left;width: 480px;font-size: 12px">
                        <h2><a href="{{resultado.get_absolute_url}}">{{resultado.nombre}}</a></h2>
                        <div style="float: left;width:230px">
                            {%if resultado.enlace %}<p><a href="{{resultado.enlace}}" target="_blank"> {{resultado.enlace}}</a><p>{%endif%}
                            <p class="caracteristicas">Fuente(s) Renovable(s):</p>
                            {%for fuente in resultado.fuente.all%}
                            <img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
                            <div class="limpiar"></div>
                            {%endfor%}
                        </div>
                        <div style="float: right;width:230px">
                            {%if resultado.donante %}<p style="font-size: 12px"><b>Donante:</b> {{resultado.donante}}<p>{%endif%}
                            {%if resultado.get_beneficiarios %}
                            <p class="caracteristicas">Beneficiario(s):</p>
                            {%for beneficiarios in resultado.get_beneficiarios%}<p><b>Año {{beneficiarios.anho}}:</b> {{beneficiarios.numero}} Personas<p>{%endfor%}
                            {%endif%}
                        </div>
                        <div class="limpiar"></div>
                    </div>
                    <div class="limpiar"></div>
                </div>
                {%endfor%}
               {%endif%}
                {%if organizacion.get_sistemas %}
                <img style="margin: 5px 10px 0px 0px" align="left" src="{{ STATIC_URL }}imagenes/sismapa.png" alt="SISTEMAS"><h2 class="titular">Sistema(s) de Generación</h2>
                {%for resultado in organizacion.get_sistemas %}
                <div class="resultados">
                    {%if resultado.get_imagen %}
                    <div style="float: right;width: 200px">
                        {% thumbnail resultado.get_imagen "200x200" format="PNG" as im %}
                        <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    </div>
                    {%endif%}
                    <div style="float: left;width: 480px;font-size: 12px">
                        <h2><a href="{{ resultado.get_absolute_url }}">{{resultado.nombre}}</a></h2>
                        <div style="float: left;width:230px">
                            <p class="caracteristicas">Fuente(s) Renovable(s):</p>
                            {%for fuente in resultado.fuente.all%}
                            <img align="left" style="margin-right: 15px" src="{{ fuente.imagen.url }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
                            <div class="limpiar"></div>
                            {%endfor%}
                            {%if resultado.web %}<p>{{resultado.web}}</p>{%endif%}
                        </div>
                        <div style="float: right;width:230px">
                            {%if resultado.tarifa %}<p><b>Tarifa promedio anual por MWh:</b> {{resultado.tarifa}} Usd$</p>{%endif%}
                            {%if resultado.potencia %}<p><b>Potencia:</b> {{resultado.potencia}} W</p>{%endif%}
                        </div>
                        <div class="limpiar"></div>
                    </div>
                    <div class="limpiar"></div>
                </div>
                {%endfor%}
                {%endif%}
            </div><!--detallecaja-->
    </div><!--contenedor -->
    <div class="limpiar"></div>
</div><!--center-->

{% endblock %}
