{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% block TITULO %}Sistema {{sistema.nombre}} - Renovables{% endblock %}
{% block JS %}
    <link href="{{ STATIC_URL }}css/ui.slider.extras.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery-ui-1.7.1.custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/selectToUISlider.jQuery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerwithlabel.js"></script>
{% endblock %}
{% block CONTENIDO %}
<div align="center">
    <div  class="contenedor" style="padding-top: 80px" >
       <div class="menunav">
        	{%if user.is_authenticated%}
        			<p>
        				<a name="bienvenido">Bienvenido {{user.get_full_name}}</a> | 
        				<a href="{% url 'advanced_search' %}">Buscador Avanzado</a> | 
        				<a href="{% url 'simernic_home' %}">Inicio</a> |
        				<a href="{% url 'logout' %}?next={% url 'simernic_home' %}">Salir</a>
       				</p>
     		{%endif%}
   		</div>
            <div id="detallecaja">
                <div id="pruebamapa">
                    {% include 'mapasistema.html' %}
                </div>
                <div id="mapa" style="width: 100%;height:300px;margin-bottom: 20px"></div>
                <div id="imagendetalle">
                {%if sistema.get_imagen %}
                    {% thumbnail sistema.get_imagen "300x300" format="PNG" as im %}
                        <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {%endif%}
                </div>
                <div id="textosdetalle">
                    <h1>{{sistema.nombre}}</h1>
                    <p><b>Organización: </b><a href="{{sistema.organizacion.get_absolute_url}}">{{sistema.organizacion.nombre}}</a></p>
                    {%if sistema.web %}<p>{{sistema.web}}</p>{%endif%}
                    <p class="caracteristicas">Fuente(s) Renovable(s):</p>
                    {%for fuente in sistema.fuente.all%}
                    <img align="left" style="margin-right: 15px" src="{{ fuente.imagen.url }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
                    <div class="limpiar"></div>
                    {%endfor%}
                    {%if sistema.materia_prima %}<p><b>Materia Prima: </b>{{sistema.materia_prima.nombre}}</p>{%endif%}
                    {%if sistema.vegetal %}<p><b>Vegetal: </b>{{sistema.vegetal.nombre}}</p>{%endif%}
                    {%if sistema.tarifa %}<p><b>Tarifa promedio anual por MWh: </b>{{sistema.tarifa}} Usd$</p>{%endif%}
                    {%if sistema.potencia %}<p><b>Potencia:</b> {{sistema.potencia}} W</p>{%endif%}
                    {%if sistema.interconexion%}
                    <p><b>Interconexión a SIN</b></p>
                    {%endif%}
                    {%if sistema.calor%}
                    <p><b>Produce Calor</b></p>
                    {%endif%}
                    {%if sistema.biocombustible%}
                    <p><b>Produce Biocombustible</b></p>
                    {%endif%}
                </div>
                <div class="limpiar"></div>
                <div style="margin-top:20px; text-align:center;">
                    {%for imagen in sistema.galeriafotossistema_set.all%}
                        {%if not forloop.first%}
                     {% thumbnail imagen "300x300" format="PNG" as im %}
                        <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                   {%endif%}
                    {%endfor%}
                <div>
            </div><!--detallecaja-->
    </div><!--contenedor -->
    <div class="limpiar"></div>
</div><!--center-->

{% endblock %}
