{% load tagsextras %}
<h1>FUENTES RENOVABLES</h1>
<div style="float: right; margin-right: 5px;font-size: 11px; color: #f4e000;padding-bottom: 3px;margin-bottom: 5px;">Total MW</div>
<br clear="all" />
{% for fuente in fuentes %}
<ul class="item">
    <li class="chech"><input class="checkbuscar" name="fuenterenovable" type="checkbox" value="{{ fuente.id }}"  /></li>
    <li class="icon">
        {% if fuente.imagen %}
        <img src="{{fuente.imagen.url }}">
        {% else %}
        &nbsp;
        {% endif %}

    </li>
    <li class="texto">{{ fuente.nombre }}  {% for key,value in potencia.items %}{%ifequal fuente.id key %} <div style="float: right; margin-right: 4px; font-size: 11px;"> {% if key != 1 %}{{value|floatformat}}{% endif %}</div>{%endifequal%} {% endfor %}</li>
</ul>
{% empty %}
<ul class="item">
    <li class="texto">Lo sentimos, no existen por el momento Fuentes Renovables en nuestra base de datos</li>
</ul>
{% endfor %}
