{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% load url from future %}
{% block TITULO %}Renovables{% endblock %}
{% block JS %}
    <link href="{{ STATIC_URL }}css/ui.slider.extras.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery-ui-1.7.1.custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/selectToUISlider.jQuery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerwithlabel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerclusterer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>

    <script type="text/javascript">
        jQuery.fn.getCheckboxVal = function(){
            var vals = [];
            var i = 0;
            this.each(function(){
                vals[i++] = jQuery(this).val();
            });
            return vals;
        }
        $(function(){
            $('select').selectToUISlider();
        });
        function cargarindicador(valor) {
            $(".indicadoresli").removeClass("triangulo");
            $(".contextindicador"+valor).addClass("triangulo");
            $("#backgrafico").load("{% url 'renovable.views.cargar_indicador' %}",{
                prod_id: valor
            });
        }

        function cargarkml() {
            if($("#kml").is(":checked")){
                $("#menukml").show();
            }else{
                $("#menukml").hide()
            }
        }
        $(document).ready(function() {
            $("#menukml").hide();
            $("#busqueda").click(function(event){
                event.preventDefault();
                reloadMap();
            });
        });
    </script>
{% endblock %}
{% block CONTENIDO %}
    <div id="backmapa" align="center">
        <div id="pruebamapa">
        {% include 'new_mapa.html' %}
        </div>
        <div id="mapa"></div>
        <div id="cargadormapa"><img style="margin-top: 200px" src="{{ STATIC_URL }}imagenes/ico_cargando.gif " alt=""></div>
        <form action="/inicio" name="filtromapa" method="post">{% csrf_token %}
        <div id="menumapa" align="center">
                    <ul class="item">
                        <li class="chech"><input class="checkbuscar" id="organizaciones" name="organizaciones" {% if organizaciones %}checked="true" {% endif %}type="checkbox" value="1"  /></li>
                        <li class="icon"><img src="{{ STATIC_URL }}imagenes/org.png" alt="Organizaciones"> </li>
                        <li class="texto"><a href="#">ORGANIZACIONES</a></li>
                    </ul>
                    <ul class="item">
                        <li class="chech"><input id="proyectos" class="checkbuscar" name="proyectos" {% if proyectos %}checked="true" {% endif %} type="checkbox" value="1"  /></li>
                        <li class="icon"><img src="{{ STATIC_URL }}imagenes/pro.png" alt="PROYECTOS"> </li>
                        <li class="texto"><a href="#">PROYECTOS</a></li>
                    </ul>
                    <ul class="item">
                        <li class="chech"><input class="checkbuscar" id="sistemas" name="sistemas" {% if sistemas %}checked="true" {% endif %} type="checkbox" value="1"  /></li>
                        <li class="icon"><img src="{{ STATIC_URL }}imagenes/sis.png" alt="SISTEMAS"></li>
                        <li class="texto"><a href="#">SISTEMAS</a></li>
                    </ul>
                    <ul class="item">
                        <li class="chech"><input onclick="cargarkml()" class="checkbuscar" id="kml" name="kml" type="checkbox" value="1"  /></li>
                        <li class="icon"><img src="{{ STATIC_URL }}imagenes/kml.png" alt="DATOS EXTERNOS"> </li>
                        <li class="texto"><a href="#">DATOS EXTERNOS</a></li>
                    </ul>

                <div class="separador">
                <div id="tipofiltro">
                    {% include 'fuentesrenovables.html' %}
                </div>
                    <a href="#"><input id="busqueda" name="busqueda" type="button" value="FILTRAR" /></a>
                    <a href="{% url 'advanced_search' %}" id="buscadoravanzado" name="BUSQUEDA AVANZADA" {% if user.is_authenticated %} class="unlock"{% endif %}>BUSQUEDA AVANZADA {% if not user.is_authenticated %}<img src="{{ STATIC_URL }}imagenes/lock.png">{% endif %}</a>
                </div><!--separador-->
        </div><!--menumapa-->
        <div id="menukml">
        </div>
        </form>
    </div><!--backmapa-->

{% include 'indicadores.html' %}
{% include 'indicador.html' %}
{% endblock %}
