
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% if indicadores %}
    {% for indicador in indicadores %}
    <div class="indicador{{ indicador.anho }} {% ifnotequal indicador.anho anhoselect.anho %} hideElement{% endifnotequal %}">
        {% for item in indicador.indicador.all %}
            {% if item.nombre == 'Precio actual promedio de la energía eléctrica en Nicaragua' %}
            <div id="backrojo">
                <div id="textorojo">

                    <h1>{{ item.nombre }}</h1>
                    <p>{% for valuesind in indicador.get_valueindicadores %}
                        {% if valuesind.indicador == item %}
                            {% if valuesind.valor %}
                                <a href="javascript:void()" onclick="cargarindicador({{ item.id }})">{{ valuesind.valor|floatformat|intspace }} {{item.unidad}}</a>
                            {% else %}
                                No existe el dato.
                            {% endif %}
                        {% endif %}
                    {% endfor %}</p>

                </div>
            </div><!--backrojo-->
            {% endif %}
            {% if item.nombre == 'Precio estimado de la energía eléctrica con una matriz 100% Renovable' %}
            <div id="backazul">
                <div id="seprojozaul"></div>
                <div id="textoazul">
                    <h1>{{ item.nombre }}</h1>
                    <p>{% for valuesind in indicador.get_valueindicadores %}
                        {% if valuesind.indicador == item %}
                            {% if valuesind.valor %}
                                <a href="javascript:void()" onclick="cargarindicador({{ item.id }})"> {{ valuesind.valor|floatformat|intspace }} {{item.unidad}}</a>
                            {% else %}
                                No existe el dato.
                            {% endif %}
                        {% endif %}
                    {% endfor %}</p>
                </div>
            </div><!--backazul-->
            {% endif %}
       {% endfor %}
        <div class="limpiar"></div>
    </div>
    {% endfor %}
{% endif %}
<div id="backverde" align="center">
    <div class="contenedor">
        <div id="textverde">
            {% load flatpages %}
            {% get_flatpages '/textoindicador/' as textoindicador %}
            {%if textoindicador%}
            <h1>{{textoindicador.0.title}}</h1>
            <p>{{textoindicador.0.content}}</p>
            {%else%}
                <p>Por favor cree un flatpage con url /textoindicador/ y gestione el titular y el contenido que desean mostrar</p>
            {%endif%}
        </div>
        <div id="selector">
            {% if indicadores %}
                <select name="anhos" id="anhos">
                    {% for indicador in indicadores %}
                        <option value="{{ indicador.anho }}" {% if indicador.anho == anhoselect.anho %}selected="true" {% endif %}>{{ indicador.anho }}</option>
                    {% endfor %}
                </select>
            {% else %}
                Lo sentimos, no existen indicadores
            {% endif %}
        </div>
        <div class="limpiar"></div>
        {% if indicadores %}
            {% for indicador in indicadores %}
                <ul class="indicador{{ indicador.anho }} indicadores {% ifnotequal indicador.anho anhoselect.anho %}hideElement{% endifnotequal %}">
                    {% for item in indicador.indicador.all|dictsort:"orden" %}
                        {% ifnotequal item.tipoindicador.nombre 'Precios'  %}
                        <li  class="indicadoresli contextindicador{{ item.id }} {%if forloop.first%}triangulo{%endif%}">
                            <div class="backindicador">
                            <a href="javascript:void()" onclick="cargarindicador({{ item.id }})">
                            <img src="{{ item.icono.url }}" width="89" height="89" alt="{{ item.nombre }}" />
                            <h2>{{ item.nombre }}</h2>
                            <p>{% for valuesind in indicador.get_valueindicadores %}
                                  {% if valuesind.indicador == item %}
                                      {{ valuesind.valor|floatformat|intspace }}<br> <span>{{item.unidad}}</span>
                                  {% endif %}
                               {% endfor %}
                            </p>
                            </a>
                            </div>
                        </li>
                        {% endifnotequal %}
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    </div><!--contenedor backverde-->
    <div class="limpiar"></div>
</div><!--backverde-->
