{% load tagsextras %}
<div class="dataindicador" id="backgrafico" align="center">
    <div class="contenedor">
        <div id="textografico">
            <h1><a name="Indicadores">{{ indicador.nombrelargo }}</a></h1>
            <p>{{ indicador.explicacion }}</p>
            {%if indicador.fuentes %}<p>{{ indicador.fuentes }}</p>{%endif%}
        </div>
        <div id="grafico">
            <div id="graficoindicador" style="height: 250px"></div>
        </div>
        <div class="limpiar"></div>
    </div><!--contenedor backgrafico-->
    <script type="text/javascript">
    var chart;
    $(document).ready(function() {
        function addspacing(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ' ' + '$2');
            }
            return x1 + x2;
        }
        chart = new Highcharts.Chart({
        chart: {
            renderTo: 'graficoindicador',
            type: 'areaspline'
        },
        title: {
            text: '{{ indicador.nombre }} por año'
        },
        legend: false,
        xAxis: {
            categories: [
                {% for valor in voloresindicador %}
                    {% if forloop.last %}
                        {{ valor.anho }}
                    {% else %}
                        {{ valor.anho }},
                    {% endif %}
                {% endfor %}
            ]

        },
        yAxis: {
            title: {
            text: 'Valor del Indicador'
            }
        },
        tooltip: {
            formatter: function() {
                return ''+
                this.x +': '+ addspacing(this.y)  +'';
            }
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: false,
            data: [
                {% for valor in voloresindicador %}
                    {% if forloop.last %}
                        {{ valor.valor }}
                    {% else %}
                        {{ valor.valor }},
                    {% endif %}
                {% endfor %}
            ]
        }]
        });
    });
    </script>
</div><!--backgrafico-->