<h1>DATOS EXTERNOS</h1>
{% for kml in kmls %}
<ul class="item">
    <li class="chech">
    <input onclick="buscar()" class="checkbuscar" name="kml" type="checkbox" value="{{ kml.id }}"  />
    <label class="texto">{{ kml.nombre }}</label>
    </li>
</ul>
{% empty %}
<ul class="item">
    <li class="texto">Lo sentimos, no existen por el momento Datos Externos</li>
</ul>
{% endfor %}
<script type="text/javascript">
    function loadkml() {
        var arrkml = ""+$("input[name='kml']:checked").getCheckboxVal();
        if(arrkml == ""){var arrkml=0}
            $("#pruebamapa").load("{% url loadkml %}",{
            arrkml: arrkml
        });
    }
</script>
