{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
<script type="text/javascript">
    $(document).ready(function() {
        {%if organizacion.latitud and organizacion.longitud %}
        var latlng = new google.maps.LatLng({{ organizacion.latitud  }},{{ organizacion.longitud }});
        {%else%}
        var latlng = new google.maps.LatLng(12.865416,-84.207229);
        {%endif%}
        var myOptions = {
            zoom: 7,
            center: latlng,
            disableDefaultUI: true,
            panControl: true,
            zoomControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        var map = new google.maps.Map(document.getElementById("mapa"),myOptions);
        {%if kml%}
            {%for item in kml%}
            var Kml{{item.id}} = new google.maps.KmlLayer('{{ MEDIA_URL }}{{item.cargo}}');
                Kml{{item.id}}.setMap(map);
            {%endfor%}
        {%endif%}
        var infowindow = new google.maps.InfoWindow();
        var latlnglist = []
        var markers = []
    {% if organizacion %}
             latlnglist.push(lat_lng = new google.maps.LatLng ({{ organizacion.latitud  }},{{ organizacion.longitud }}))
                var markerorg{{ organizacion.id }} = new MarkerWithLabel({
                position: lat_lng,
                draggable: false,
                raiseOnDrag: true,
                map: map,
                labelContent: "",
                labelAnchor: new google.maps.Point(5, 35),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 0.75},
                labelInBackground: false,
                {%for fuente in  organizacion.fuente.all %}
                    {% if forloop.first%}
                        {%if organizacion.fuente.all.count > 1 %}
                            icon: '{{ STATIC_URL }}imagenes/varios.png'
                        {%else%}
                            icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                        {%endif%}
                    {%endif%}
                {%endfor%}
            });
            markers.push(markerorg{{ organizacion.id }})
            google.maps.event.addListener(markerorg{{ organizacion.id }}, "click", function (e) {
                infowindow.close();
                infowindow.setContent('<div class="toltipmapa">' +
                        '{%if organizacion.logo %} <div style="float: left;width:100px;">' +
                        '{% thumbnail organizacion.logo "100x100" as im %}' +
                        '<img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">' +
                        '</div>{% endthumbnail %} ' +
                        '{%endif%}' +
                        '<div style="float: right;width:270px;">' +
                        '<img align="left" src="{{ STATIC_URL }}imagenes/orgmapa.png" alt="Organizaciones"><p style="margin-top: 5px"><b>{{organizacion.nombre}}</b></p>'+
                        '<div class="clear"></div>'+
                        '{%if organizacion.web %}<p><a href="{{organizacion.web}}" target="_blank"> {{organizacion.web}}</a>{%if organizacion.web2 %}, <a href="{{organizacion.web2}}" target="_blank"> {{organizacion.web2}}</a>{%endif%}<p>{%endif%}' +
                        '<p><b>Fuente(s) Renovable(s):</b> <p>' +
                        '{%for fuente in organizacion.fuente.all%}' +
                        '<img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" > <p style="margin-top: 5px">{{ fuente.nombre }}.</p>' +
                        '<div class="clear"></div>{%endfor%}'+
                        '{%if organizacion.actividad.all.count > 0%}<p><b>Actividad(es):</b> ' +
                        '{%for actividad in organizacion.actividad.all%}' +
                        '{% if forloop.last%}' +
                        '{{ actividad.nombre }}.' +
                        '{%else%}' +
                        '{{ actividad.nombre }}, ' +
                        '{%endif%}' +
                        '{%endfor%}</p>{%endif%}'+
                        '</div></div>');
                infowindow.open(map, this); });
    {% endif %}

    {% if organizacion.get_sistemas %}
        {% for values in organizacion.get_sistemas %}
            latlnglist.push(lat_lng = new google.maps.LatLng ({{ values.latitud  }},{{ values.longitud }}))
            var markersis{{ values.id }} = new MarkerWithLabel({
                position: lat_lng,
                draggable: false,
                raiseOnDrag: true,
                map: map,
                labelContent: "",
                labelAnchor: new google.maps.Point(5, 35),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 0.75},
                labelInBackground: false,
                {%for fuente in  values.fuente.all %}
                    {% if forloop.first%}
                        {%if values.fuente.all.count > 1 %}
                            icon: '{{ STATIC_URL }}imagenes/varios.png'
                        {%else%}
                            icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                        {%endif%}
                    {%endif%}
                {%endfor%}
            });
            markers.push(markersis{{ values.id }})
            google.maps.event.addListener(markersis{{ values.id }}, "click", function (e) {
                infowindow.close();
                infowindow.setContent('<div class="toltipmapa">' +
                        '{%if values.get_imagen %}<div style="float: left;width:100px;">' +
                        '{% thumbnail values.get_imagen "100x100" as im %}' +
                        '<img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">' +
                        '{% endthumbnail %} ' +
                        '</div>{%endif%}' +
                        '<div style="float: right;width:250px;">' +
                        '<img align="left" src="{{ STATIC_URL }}imagenes/sismapa.png" alt="SISTEMAS"><p style="margin-top: 5px"><b>{{values.nombre}}</b></p>'+
                        '<div class="clear"></div><p><b>Fuente(s) Renovable(s):</b> <p>' +
                        '{%for fuente in values.fuente.all%}' +
                        '<img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" ><p style="margin-top: 5px"> {{ fuente.nombre }}.</p>' +
                        '<div class="clear"></div>{%endfor%} '+
                        '<p><b>Organización:</b> {{values.organizacion.nombre}}</p>'+
                        '{%if values.tarifa %}<p><b>Tarifa promedio anual por MWh:</b> {{values.tarifa}} Usd$</p>{%endif%}'+
                        '{%if values.potencia %}<p><b>Potencia:</b> {{values.potencia}} KW</p>{%endif%}'+
                        '</div></div>');
                infowindow.open(map, this);  });
        {% endfor %}
    {% endif %}
    {% if organizacion.get_proyectos %}
        {% for values in organizacion.get_proyectos %}
            latlnglist.push(lat_lng = new google.maps.LatLng ({{ values.latitud  }},{{ values.longitud }}))
            var markerpro{{ values.id }} = new MarkerWithLabel({
                position: lat_lng,
                draggable: false,
                raiseOnDrag: true,
                map: map,
                labelContent: "",
                labelAnchor: new google.maps.Point(5, 35),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 0.75},
                labelInBackground: false,
                {%if values.fuente.all.count > 0 %}
                    {%for fuente in  values.fuente.all %}
                        {% if forloop.first%}
                            {%if values.fuente.all.count > 1 %}
                                icon: '{{ STATIC_URL }}imagenes/varios.png'
                            {%else%}
                                icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                             {%endif%}
                        {%endif%}
                    {%endfor%}
                {%else%}
                    icon: '{{ STATIC_URL }}imagenes/pro.png'
                {%endif%}
            });
            markers.push(markerpro{{ values.id }})
            google.maps.event.addListener(markerpro{{ values.id }}, "click", function (e) {
                        infowindow.close();
                        infowindow.setContent('<div class="toltipmapa">' +
                                '{%if values.get_imagen %}<div style="float: left;width:100px;">' +
                                '{% thumbnail values.get_imagen "100x100" as im %}' +
                                '<img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">' +
                                '{% endthumbnail %} ' +
                                '</div>{%endif%}' +
                                '<div style="float: right;width:270px;">' +
                                '<img align="left" src="{{ STATIC_URL }}imagenes/promapa.png" alt="PROYECTOS"> <p style="margin-top: 5px"><b>{{values.nombre}}</b></p>'+
                                '<div class="clear"></div>{%if values.enlace %}<p style="font-size: 12px"><a href="{{values.enlace}}" target="_blank"> {{values.enlace}}</a><p>{%endif%}' +
                                '{%if values.donante %}<p style="font-size: 12px"><b>Donante:</b> {{values.donante}}<p>{%endif%}' +
                                '<p><b>Fuente(s) Renovable(s):</b> <p>' +
                                '{%for fuente in values.fuente.all%}' +
                                '<img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" ><p style="margin-top: 5px">{{ fuente.nombre }}.</p>' +
                                '<div class="clear"></div>{%endfor%} '+
                                '<p><b>Organización:</b> {{values.organizacion.nombre}}</p>'+
                                '<p><b>Beneficiarios:</b></p>'+
                                '{%if values.get_beneficiarios %}' +
                                '{%for beneficiarios in values.get_beneficiarios%}<p style="font-size: 12px"><b>Año {{beneficiarios.anho}}:</b> {{beneficiarios.numero}} Personas<p>{%endfor%}' +
                                '{%endif%}</div></div>');
                        infowindow.open(map, this);
                    });
        {% endfor %}
    {% endif %}

                    if (markers.length >0) {
                        var mcOptions = {

                                gridSize: 50,
                                maxZoom: 7
                        }
                        var markerCluster = new MarkerClusterer(map, markers, mcOptions);

                    }
        function log(h) {     document.getElementById("log").innerHTML += h + "<br />";   }

       $("#cargadormapa").hide()
    })
    $(window).load(function(){
        $("#cargadormapa").hide()
    })

</script>


