{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
<script type="text/javascript" src="{{ STATIC_URL }}js/infobox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/load_functions.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var latlng = new google.maps.LatLng(12.865416,-84.207229);
        var myOptions = {
            zoom: 7,
            center: latlng,
            disableDefaultUI: true,
            panControl: true,
            zoomControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        var map = new google.maps.Map(document.getElementById("mapa"),myOptions);
        // definiendo limites de navegacion del mapa
        // Bounds for central america
        var mapBounds = new google.maps.LatLngBounds(
         new google.maps.LatLng(7.5855991905, -95.0122070312), 
         new google.maps.LatLng(21.3352686127, -75.7641601562)
        );
        var dragStartCenter;
        google.maps.event.addListener(map, 'dragstart', function(){
            dragStartCenter = map.getCenter();
        });

        google.maps.event.addListener(map, 'dragend', function(){
            if (mapBounds.contains(map.getCenter())) return;
            map.setCenter(dragStartCenter);
        });
        // Limit the zoom level
        var minZoomLevel = 5;
        google.maps.event.addListener(map, 'zoom_changed', function() {
            if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
        });
        //-----------------------------------------
        {%if kml%}
            {%for item in kml%}
            var Kml{{item.id}} = new google.maps.KmlLayer('{{ MEDIA_URL }}{{item.cargo}}');
                Kml{{item.id}}.setMap(map);
            {%endfor%}
        {%endif%}
        var infowindow = new google.maps.InfoWindow();
        var latlnglist = []
        var markers = []
    {% if organizaciones %}
        {% for values in organizaciones %}
             latlnglist.push(lat_lng = new google.maps.LatLng ({{ values.latitud  }},{{ values.longitud }}))
                var markerorg{{ values.id }} = new MarkerWithLabel({
                position: lat_lng,
                draggable: false,
                raiseOnDrag: true,
                map: map,
                labelContent: "",
                title: "",
                labelAnchor: new google.maps.Point(5, 35),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 0.75},
                labelInBackground: false,
                {%for fuente in  values.fuente.all %}
                    {% if forloop.first%}
                        {%if values.fuente.all.count > 1 %}
                            icon: '{{ STATIC_URL }}imagenes/varios.png'
                        {%else%}
                            icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                        {%endif%}
                    {%endif%}
                {%endfor%}
            });


            markers.push(markerorg{{ values.id }});
            google.maps.event.addListener(markerorg{{ values.id }}, "click", function (e) {
                infowindow.close();
                infowindow.setContent('<div class="toltipmapa">' +
                        '{%if values.logo %} <div style="float: left;width:100px;">' +
                        '{% thumbnail values.logo "100x100" as im %}' +
                        '<img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">' +
                        '</div>{% endthumbnail %} ' +
                        '{%endif%}' +
                        '<div style="float: right;width:270px;">' +
                        '<img align="left" src="{{ STATIC_URL }}imagenes/orgmapa.png" alt="Organizaciones"><p style="margin-top: 5px"><b>{{values.nombre}}</b></p>'+
                        '<div class="clear"></div>'+
                        '{%if values.web %}<p><a href="{{values.web}}" target="_blank"> {{values.web}}</a>{%if values.web2 %}, <a href="{{values.web2}}" target="_blank"> {{values.web2}}</a>{%endif%}<p>{%endif%}' +
                        '<p><b>Fuente(s) Renovable(s):</b> <p>' +
                        '{%for fuente in values.fuente.all%}' +
                        '<img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" > <p style="margin-top: 5px">{{ fuente.nombre }}.</p>' +
                        '<div class="clear"></div>{%endfor%}'+
                        '{%if values.actividad.all.count > 0%}<p><b>Actividad(es):</b> ' +
                        '{%for actividad in values.actividad.all%}' +
                        '{% if forloop.last%}' +
                        '{{ actividad.nombre }}.' +
                        '{%else%}' +
                        '{{ actividad.nombre }}, ' +
                        '{%endif%}' +
                        '{%endfor%}</p>{%endif%}'+
                        '</div></div>');
                infowindow.open(map, this); });
        {% endfor %}
    {% endif %}

    {% if sistemas %}
        {% for values in sistemas %}
            latlnglist.push(lat_lng = new google.maps.LatLng ({{ values.latitud  }},{{ values.longitud }}))
            var markersis{{ values.id }} = new MarkerWithLabel({
                position: lat_lng,
                draggable: false,
                raiseOnDrag: true,
                map: map,
                labelContent: "",
                labelAnchor: new google.maps.Point(5, 35),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 0.75},
                labelInBackground: false,
                {%for fuente in  values.fuente.all %}
                    {% if forloop.first%}
                        {%if values.fuente.all.count > 1 %}
                            icon: '{{ STATIC_URL }}imagenes/varios.png'
                        {%else%}
                            icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                        {%endif%}
                    {%endif%}
                {%endfor%}
            });
            /* -- tooltip para cantidad de sistemas --*/
            {% if values.cantidad_sistemas %}
            var boxText = document.createElement("div");
            boxText.style.cssText = "border: none; margin-top: 5px; background: #0068C2; color: #ffffff; padding: 5px; font-size: 12px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;";
            boxText.innerHTML = "<b>{{values.cantidad_sistemas}} sistemas</b>";
            google.maps.event.addListener(markersis{{ values.id }}, "mouseover", function (e) {
                ib{{ values.id }}.open(map, this);
            });
            google.maps.event.addListener(markersis{{ values.id }}, "mouseout", function (e) {
                ib{{ values.id }}.close(map, this);
            });
            var myOptions = {
                     content: boxText
                    ,disableAutoPan: false
                    ,maxWidth: 0
                    ,pixelOffset: new google.maps.Size(-140, 0)
                    ,zIndex: null
                    ,boxStyle: { 
                      background: ""
                      ,opacity: 0.8
                      ,width: "150px"
                     }
                    ,closeBoxMargin: "5px"
                    ,closeBoxURL: ""
                    ,infoBoxClearance: new google.maps.Size(1, 1)
                    ,isHidden: false
                    ,pane: "overlayMouseTarget"
                    ,enableEventPropagation: false
                };
            var ib{{ values.id }} = new InfoBox(myOptions);
            /* -- endtoltips -- */
            {% endif %}
            markers.push(markersis{{ values.id }})
            google.maps.event.addListener(markersis{{ values.id }}, "click", function (e) {
                infowindow.close();
                infowindow.setContent('<div class="toltipmapa">' +
                        '{%if values.get_imagen %}<div style="float: left;width:100px;">' +
                        '{% thumbnail values.get_imagen "100x100" as im %}' +
                        '<img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">' +
                        '{% endthumbnail %} ' +
                        '</div>{%endif%}' +
                        '<div style="float: right;width:250px;">' +
                        '<img align="left" src="{{ STATIC_URL }}imagenes/sismapa.png" alt="SISTEMAS"><p style="margin-top: 5px"><b>{{values.nombre}}</b></p>'+
                        '<div class="clear"></div><p><b>Fuente(s) Renovable(s):</b> <p>' +
                        '{%for fuente in values.fuente.all%}' +
                        '<img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" ><p style="margin-top: 5px"> {{ fuente.nombre }}.</p>' +
                        '<div class="clear"></div>{%endfor%} '+
                        '<p><b>Organización:</b> {{values.organizacion.nombre}}</p>'+
                        '{%if values.tarifa %}<p><b>Tarifa promedio anual por MWh:</b> {{values.tarifa}} Usd$</p>{%endif%}'+
                        '{%if values.potencia %}<p><b>Potencia:</b> {{values.potencia}} W</p>{%endif%}'+
                        '</div></div>');
                infowindow.open(map, this);  });
        {% endfor %}
    {% endif %}
    {% if proyectos %}
        {% for values in proyectos %}
            {% if values.latitud and values.longitud %}
            latlnglist.push(lat_lng = new google.maps.LatLng ({{ values.latitud  }},{{ values.longitud }}));
            {% else %}
            //polygon centroid
            latlnglist.push(lat_lng = new google.maps.LatLng({{ values.poligono.centroid.y }},{{ values.poligono.centroid.x }}));
            {% endif %}
            var markerpro{{ values.organizacion_id }} = new MarkerWithLabel({
                position: lat_lng,
                draggable: false,
                raiseOnDrag: true,
                map: map,
                labelContent: "",
                labelAnchor: new google.maps.Point(5, 35),
                labelClass: "labels", // the CSS class for the label
                labelStyle: {opacity: 0.75},
                labelInBackground: false,
                {%if values.fuente.all.count > 0 %}
                {%for fuente in  values.fuente.all %}
                    {% if forloop.first%}
                        {%if values.fuente.all.count > 1 %}
                            icon: '{{ STATIC_URL }}imagenes/varios.png'
                        {%else%}
                            icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                         {%endif%}
                    {%endif%}
                {%endfor%}
                {%else%}
                   icon: '{{ STATIC_URL }}imagenes/pro.png'
                {%endif%}
            });
            markers.push(markerpro{{ values.organizacion_id }})
            google.maps.event.addListener(markerpro{{ values.organizacion_id }}, "click", function (e) {
                        infowindow.close();
                        infowindow.setContent('<div class="toltipmapa">' +
                                '{%if values.get_imagen %}<div style="float: left;width:100px;">' +
                                '{% thumbnail values.get_imagen "100x100" as im %}' +
                                '<img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">' +
                                '{% endthumbnail %} ' +
                                '</div>{%endif%}' +
                                '<div style="float: right;width:270px;">' +
                                '<img align="left" src="{{ STATIC_URL }}imagenes/promapa.png" alt="PROYECTOS"> <p style="margin-top: 5px"><b>{{values.nombre}}</b></p>'+
                                '<div class="clear"></div>{%if values.enlace %}<p style="font-size: 12px"><a href="{{values.enlace}}" target="_blank"> {{values.enlace}}</a><p>{%endif%}' +
                                '{%if values.donante %}<p style="font-size: 12px"><b>Donante:</b> {{values.donante}}<p>{%endif%}' +
                                '<p><b>Fuente(s) Renovable(s):</b> <p>' +
                                '{%for fuente in values.fuente.all%}' +
                                '<img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" ><p style="margin-top: 5px">{{ fuente.nombre }}.</p>' +
                                '<div class="clear"></div>{%endfor%} '+
                                '<p><b>Organización:</b> {{values.organizacion.nombre}}</p>'+
                                '<p><b>Beneficiarios:</b></p>'+
                                '{%if values.get_beneficiarios %}' +
                                '{%for beneficiarios in values.get_beneficiarios%}<p style="font-size: 12px"><b>Año {{beneficiarios.anho}}:</b> {{beneficiarios.numero}} Personas<p>{%endfor%}' +
                                '{%endif%}</div></div>');
                        infowindow.open(map, this);
                    });
        {% endfor %}
    {% endif %}

                    if (markers.length >0) {
                        var mcOptions = {

                                gridSize: 50,
                                maxZoom: 7
                        }
                        var markerCluster = new MarkerClusterer(map, markers, mcOptions);

                    }
        function log(h) {     document.getElementById("log").innerHTML += h + "<br />";   }

       $("#cargadormapa").hide()
    })
    $(window).load(function(){
        $("#cargadormapa").hide()
    })

</script>


