{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
<script type="text/javascript" src="{{ STATIC_URL }}js/infobox.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //var latlng = new google.maps.LatLng(12.865416,-84.207229);
        {% if proyecto.latitud and proyecto.longitud%}
        // geolocation
        var latlng = new google.maps.LatLng({{ proyecto.geolocation}});
        {% else %}
        //default gmap location
        var latlng = new google.maps.LatLng({{ DEFAULT_GEOLOCATION.latitude }},{{ DEFAULT_GEOLOCATION.longitude }});
        {% endif %}
        var myOptions = {
            zoom: 7,
            center: latlng,
            disableDefaultUI: true,
            panControl: true,
            zoomControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        };
        var map = new google.maps.Map(document.getElementById("mapa"),myOptions);
        var infowindow = new google.maps.InfoWindow();
        var latlnglist = []
        var markers = []

        {% if sistema %}
            {% if sistema.geolocation %}
            latlnglist.push(lat_lng = new google.maps.LatLng ({{ sistema.latitud  }},{{ sistema.longitud }}))
            var markersis{{ sistema.id }} = new MarkerWithLabel({
            position: lat_lng,
            draggable: false,
            raiseOnDrag: true,
            map: map,
            labelContent: "",
            labelAnchor: new google.maps.Point(5, 35),
            labelClass: "labels", // the CSS class for the label
            labelStyle: {opacity: 0.75},
            labelInBackground: false,
            {%for fuente in  sistema.fuente.all %}
                {% if forloop.first%}
                    {%if sistema.fuente.all.count > 1 %}
                        icon: '{{ STATIC_URL }}imagenes/varios.png'
                        {%else%}
                        icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                        {%endif%}
                        {%endif%}
                        {%endfor%}
                    });
                    markers.push(markersis{{ sistema.id }})
                    google.maps.event.addListener(markersis{{ sistema.id }}, "click",displayprojectinfo );
            {% else %}
                {% if sistema.departamento.layerkml %}
                /* --- carga de layer KML desde archivo del departamento --- */
                var deptoKMLLayer = new google.maps.KmlLayer('{{sistema.departamento.layerkml.url}}');
                deptoKMLLayer.setMap(map);
                latlnglist.push(lat_lng = new google.maps.LatLng ({{ sistema.departamento.latitud  }},{{ sistema.departamento.longitud }}));
                var markersis{{ sistema.id }} = new MarkerWithLabel({
                    position: lat_lng,
                    draggable: false,
                    raiseOnDrag: true,
                    map: map,
                    labelContent: "",
                    labelAnchor: new google.maps.Point(5, 35),
                    labelClass: "labels", // the CSS class for the label
                    labelStyle: {opacity: 0.75},
                    labelInBackground: false,
                    {%for fuente in  sistema.fuente.all %}
                        {% if forloop.first%}
                            {%if sistema.fuente.all.count > 1 %}
                                icon: '{{ STATIC_URL }}imagenes/varios.png'
                            {%else%}
                                icon: '{{ STATIC_URL }}{{fuente.imagen}}'
                             {%endif%}
                        {%endif%}
                    {%endfor%}
                });
                markers.push(markersis{{ sistema.id }})
                google.maps.event.addListener(markersis{{ sistema.id }}, "click", displayprojectinfo);
                {% endif %}
            {% endif %}
            /* -- tooltip para cantidad de sistemas --*/
            {% if sistema.cantidad_sistemas %}
            var boxText = document.createElement("div");
            boxText.style.cssText = "border: none; margin-top: 5px; background: #0068C2; color: #ffffff; padding: 5px; font-size: 12px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;";
            boxText.innerHTML = "<b>{{sistema.cantidad_sistemas}} sistemas</b>";
            google.maps.event.addListener(markersis{{ sistema.id }}, "mouseover", function (e) {
                ib{{ sistema.id }}.open(map, this);
            });
            google.maps.event.addListener(markersis{{ sistema.id }}, "mouseout", function (e) {
                ib{{ sistema.id }}.close(map, this);
            });
            var myOptions = {
                     content: boxText
                    ,disableAutoPan: false
                    ,maxWidth: 0
                    ,pixelOffset: new google.maps.Size(-140, 0)
                    ,zIndex: null
                    ,boxStyle: { 
                      background: ""
                      ,opacity: 0.8
                      ,width: "150px"
                     }
                    ,closeBoxMargin: "5px"
                    ,closeBoxURL: ""
                    ,infoBoxClearance: new google.maps.Size(1, 1)
                    ,isHidden: false
                    ,pane: "overlayMouseTarget"
                    ,enableEventPropagation: false
                };
            var ib{{ sistema.id }} = new InfoBox(myOptions);
            /* -- endtoltips -- */
            {% endif %}


        {% endif %}

                    if (markers.length >0) {
                        var mcOptions = {

                                gridSize: 50,
                                maxZoom: 7
                        }
                        var markerCluster = new MarkerClusterer(map, markers, mcOptions);

                    }
        function log(h) {     document.getElementById("log").innerHTML += h + "<br />";   }
function displayprojectinfo (e) {
                    infowindow.close();
                    infowindow.setContent('<div class="toltipmapa">' +
                            '{%if sistema.get_imagen %}<div style="float: left;width:100px;">' +
                            '{% thumbnail sistema.get_imagen "100x100" as im %}' +
                            '<img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">' +
                            '{% endthumbnail %} ' +
                            '</div>{%endif%}' +
                            '<div style="float: right;width:250px;">' +
                            '<img align="left" src="{{ STATIC_URL }}imagenes/sismapa.png" alt="SISTEMAS"><p style="margin-top: 5px"><b>{{sistema.nombre}}</b></p>'+
                            '<div class="clear"></div><p><b>Fuente(s) Renovable(s):</b> <p>' +
                            '{%for fuente in sistema.fuente.all%}' +
                            '<img align="left" style="margin-right: 15px" src="{{ STATIC_URL }}{{ fuente.imagen }}" ><p style="margin-top: 5px"> {{ fuente.nombre }}.</p>' +
                            '<div class="clear"></div>{%endfor%} '+
                            '<p><b>Organización:</b> {{sistema.organizacion.nombre}}</p>'+
                            '{%if sistema.potencia %}<p><b>Potencia:</b> {{sistema.potencia}} KW</p>{%endif%}'+
                            '</div></div>');
                    infowindow.open(map, this);  }

       $("#cargadormapa").hide()
    })
    $(window).load(function(){
        $("#cargadormapa").hide()
    })

</script>


