<div class="menunav">{%if user.is_authenticated%}<p><a name="bienvenido">Bienvenido {{user.get_full_name}}</a> | <a href="/buscadoravanzado">Buscador Avanzado</a> | <a href="/inicio">Inicio</a> |<a href="/accounts/logout/?next=/inicio">Salir</a></p>{%endif%}</div>
