{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
<script type="text/javascript" src="{{ STATIC_URL }}js/infobox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/load_functions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/load_modelsdata.js"></script>
