{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
{% block TITULO %}Renovables{% endblock %}
{% block JS %}
    <link href="{{ STATIC_URL }}css/ui.slider.extras.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.7.3.custom.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery.multiselect.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery.multiselect.filter.css" rel="stylesheet" type="text/css" />
    <!-- script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script -->
    <script src="http://maps.googleapis.com/maps/api/js?v=3.4&sensor=false&key=AIzaSyDMZKv585ZAu3B1mW3ywK09m2NgStyrAQ0" type="text/javascript"></script>
    <!-- script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>
    <!-- script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.1.custom.min.js"></script -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/selectToUISlider.jQuery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/markerwithlabel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.multiselect.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.multiselect.filter.js"></script>
    <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="/static/floppyforms/js/MapWidget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/search.js"> </script>
{% endblock %}
{% block CONTENIDO %}
<div align="center">
    <div class="contenedor" style="padding-top: 80px" >
            <div class="menunav">{%if user.is_authenticated%}<p><a name="bienvenido">Bienvenido {{user.get_full_name}}</a>  | <a href="/inicio">Inicio</a> |<a href="/accounts/logout/?next=/inicio">Salir</a></p>{%endif%}</div>

            <div id="izq-buscador">
			{% include 'advancedfilter.html' %}
            </div>
            <div id="der-buscador">
               
                <div class="filtermap">
                {{form.poly}}
                </div>

            </div>
            <div class="limpiar"></div>
    </div><!--contenedor backverde-->
    <div class="limpiar"></div>
</div><!--backverde-->

{% endblock %}
