{% load humanize %}
{% load thumbnail %}
{% load tagsextras %}
<script type="text/javascript" src="{{ STATIC_URL }}js/infobox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/load_functions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/load_detail.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/markerclusterer.js"></script>
<input type="hidden" name="resource" id="resource" value="system"/>
<input type="hidden" name="id" id="id" value="{{sistema.id}}"/>
