{% load thumbnail %}
<div class="filtermap">
{{form.poly}}
</div>
{%if resultadossistemas.count > 0 %}
<div style="float: right;" ><input id="botonexportar" name="botonexportar" type="button" class="botonmas" value="Exportar Datos" onclick="expo(1)"></div>
<div style="float: right; margin-right: 20px" ><input id="botonexportarmail" name="botonexportar" type="button" class="botonmas" value="Exportar Email" onclick="expo(2)"></div>
<h2>{{resultadossistemas.count}} Sistema(s) de generación</h2>
<div id="cajaresultado">
{%for resultado in resultadossistemas %}
<div class="resultados">
    {%if resultado.get_imagen %}
    <div style="float: left;width: 200px">
        {% thumbnail resultado.get_imagen "200x200" format="PNG" as im %}
        <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    </div>
    {%endif%}
    <div style="float: right;width: 480px;font-size: 12px">
        <h2><a href="{{ resultado.get_absolute_url }}">{{resultado.nombre}}</a></h2>
        <div style="float: left;width:230px">
            <p><b>Organización:</b> {{resultado.organizacion.nombre}}</p>
            <p class="caracteristicas">Fuente(s) Renovable(s):</p>
            {%for fuente in resultado.fuente.all%}
            <img align="left" style="margin-right: 15px" src="{{ fuente.imagen.url }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
            <div class="limpiar"></div>
            {%endfor%}
            {%if resultado.web %}<p>{{resultado.web}}</p>{%endif%}
        </div>
        <div style="float: right;width:230px">
            {%if resultado.tarifa %}<p><b>Tarifa promedio anual por MWh:</b> {{resultado.tarifa}} Usd$</p>{%endif%}
            {%if resultado.potencia %}<p><b>Potencia:</b> {{resultado.potencia}} W</p>{%endif%}
        </div>
        <div class="limpiar"></div>
    </div>
    <div class="limpiar"></div>
</div>
{%endfor%}
{%else%}
  <h2>No existen sistemas de generación con ese criterio de busqueda</h2>
{%endif%}
</div>
