{% load thumbnail %}
<div class="filtermap">
{{form.poly}}
</div>
{%if resultadosproyectos.count > 0 %}
<div style="float: right;" ><input id="botonexportar" name="botonexportar" type="button" class="botonmas" value="Exportar Datos" onclick="expo(1)"></div>
<div style="float: right; margin-right: 20px" ><input id="botonexportarmail" name="botonexportar" type="button" class="botonmas" value="Exportar Email" onclick="expo(2)"></div>
<h2>{{resultadosproyectos.count}} Proyecto(s)</h2>
<div id="cajaresultado">
{%for resultado in resultadosproyectos %}
    <div class="resultados">
        {%if resultado.get_imagen %}
        <div style="float: left;width: 200px">
        {% thumbnail resultado.get_imagen "200x200" format="PNG" as im %}
        <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        </div>
        {%endif%}
        <div style="float: right;width: 480px;font-size: 12px">
            <h2><a href="{{ resultado.get_absolute_url }}">{{resultado.nombre}}</a></h2>
            <div style="float: left;width:230px">
                <p><b>Organización:</b> {{resultado.organizacion.nombre}}</p>
                {%if resultado.enlace %}<p><b>Página Web:</b><a href="{{resultado.enlace}}" target="_blank"> {{resultado.enlace}}</a><p>{%endif%}
                <p class="caracteristicas">Fuente(s) Renovable(s):</p>
                {%for fuente in resultado.fuente.all%}
                <img align="left" style="margin-right: 15px" src="{{ fuente.imagen.url }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
                <div class="limpiar"></div>
                {%endfor%}
            </div>
            <div style="float: right;width:230px">
                {%if resultado.donante %}<p style="font-size: 12px"><b>Donante:</b> {{resultado.donante}}<p>{%endif%}
                {%if resultado.get_beneficiarios %}
                <p class="caracteristicas">Beneficiario(s):</p>
                {%for beneficiarios in resultado.get_beneficiarios%}<p><b>Año {{beneficiarios.anho}}:</b> {{beneficiarios.numero}} Personas<p>{%endfor%}
                {%endif%}
            </div>
            <div class="limpiar"></div>
        </div>
        <div class="limpiar"></div>
    </div>
{%endfor%}
{%else%}
  <h2>No existen proyectos con ese criterio de busqueda</h2>
{%endif%}
</div>
