{% load thumbnail %}
<div class="filtermap">
{{form.poly}}
</div>
{%if resultadosorganizacion.count > 0 %}
<div style="float: right;" ><input id="botonexportar" name="botonexportar" type="button" class="botonmas" value="Exportar Datos" onclick="expo(1)"></div>
<div style="float: right; margin-right: 20px" ><input id="botonexportarmail" name="botonexportar" type="button" class="botonmas" value="Exportar Email" onclick="expo(2)"></div>
<h2>{{resultadosorganizacion.count}} Organización(es)</h2>
<div id="cajaresultado">
{%for resultado in resultadosorganizacion %}
<div class="resultados">
    {%if resultado.logo %}
    <div style="float: left;width: 200px">
    {% thumbnail resultado.logo "200x200" format="PNG" as im %}
    <img align="left" style="margin-right: 15px" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </div>
    {%endif%}
    <div style="float: right;width: 480px;font-size: 12px">
        <h2><a href="{{resultado.get_absolute_url}}">{{resultado.nombre}}</a></h2>
        <div style="float: left;width:230px">
        <p class="caracteristicas">Fuente(s) Renovable(s):</p>
        {%for fuente in resultado.fuente.all%}
            <img align="left" style="margin-right: 15px" src="{{ fuente.imagen.url }}" ><p style="margin-top: 7px"> {{ fuente.nombre }}</p>
            <div class="limpiar"></div>
        {%endfor%}
        {%if resultado.web %}<p><a href="{{resultado.web}}">{{resultado.web}}</a></p>{%endif%}
        </div>
        <div style="float: right;width:230px">
            {%if resultado.actividad.all.count > 0%}
            <p class="caracteristicas">Actividade(s):</p>
            {%for actividad in resultado.actividad.all%}
            <p> {{ actividad.nombre }}</p>
            {%endfor%}
            {%endif%}
            {%if resultado.get_responsable%}
            <p class="caracteristicas">Responsable:</p>
            <p>{{ resultado.get_responsable.contacto.nombre }}<br/>
               {{ resultado.get_responsable.contacto.cargo }}<br/>
               {%if resultado.get_responsable.get_mail %}<a href="mailto:{{resultado.get_responsable.get_mail}}"> {{resultado.get_responsable.get_mail}}</a>{%endif%}</p>

            {%endif%}
            <div class="limpiar"></div>
        </div>
        <div class="limpiar"></div>
    </div>
    <div class="limpiar"></div>
</div>
{%endfor%}
{%else%}
  <h2>No existen organizaciones con ese criterio de busqueda</h2>
{%endif%}
</div>
