{% load thumbnail %}
{%if resultadoscontactos.count > 0 %}
<div style="float: right;" ><input id="botonexportar" name="botonexportar" type="button" class="botonmas" value="Exportar Datos" onclick="expo(1)"></div>
<div style="float: right; margin-right: 20px" ><input id="botonexportarmail" name="botonexportar" type="button" class="botonmas" value="Exportar Email" onclick="expo(2)"></div>
<h2>{{resultadoscontactos.count}} Contacto(s)</h2>
<div id="cajaresultado">
{%for resultado in resultadoscontactos %}

<div class="resultados" align="center">

    <div style="width: 480px;font-size: 12px;text-align: left">
        <h2><a href="{{ resultado.get_absolute_url }}">{{resultado.nombre}}</a></h2>
        <div style="float: left;width:230px">
            <p><b>Organización:</b>{{resultado.organizacion}}</p>
            {%if resultado.cargo%}<p><b>Cargo:</b>{{resultado.cargo}}</p>{%endif%}
            {%if resultado.area%}<p><b>Área:</b>{{resultado.area}}</p>{%endif%}
            {%if resultado.direccion%}<p><b>Dirección:</b>{{resultado.direccion}}</p>{%endif%}
        </div>
        <div style="float: right;width:230px">
            {%if resultado.telefono%}<p><b>Teléfono:</b>{{resultado.telefono}}</p>{%endif%}
            {%if resultado.categoria%}<p><b>Categoría:</b>{{resultado.categoria}}</p>{%endif%}
            {%if resultado.skype%}<p><b>Skype:</b>{{resultado.skype}}</p>{%endif%}
            {%if resultado.web%}<p><b>Página Web:</b>{{resultado.web}}</p>{%endif%}
        </div>
        <div class="limpiar"></div>
    </div>
    <div class="limpiar"></div>
</div>
{%endfor%}
{%else%}
  <h2>No existen contactos con ese criterio de busqueda</h2>
{%endif%}
</div>
