<style type="text/css">
	#{{ attrs.id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
	#{{ attrs.id }}_map .aligned label { float: inherit; }
	#{{ attrs.id }}_span_map { position: relative; vertical-align: top; clear: both; display:block;}
	{% if not display_wkt %}#{{ attrs.id }} { display: none; }{% endif %}
	.olControlEditingToolbar .olControlModifyFeatureItemActive {
		background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_on.png");
		background-repeat: no-repeat;
	}
	.olControlEditingToolbar .olControlModifyFeatureItemInactive {
		background-image: url("{{ ADMIN_MEDIA_PREFIX }}img/gis/move_vertex_off.png");
		background-repeat: no-repeat;
	}
</style>

<span id="{{ attrs.id }}_span_map">
	<div id="{{ attrs.id }}_map"></div>
    <p>Seleccione un &aacute;rea para filtrar por su localizaci&oacute;n geogr&aacute;fica</p>
	<a href="javascript:{{ module }}.clearFeatures()"><button id="busqueda" name="busqueda" type="button" value="FILTRAR" onclick="{{ module }}.clearFeatures()">Borrar selecci&oacute;n</button></a>
    &nbsp;&nbsp;&nbsp;
    <a><button id="busqueda" name="busqueda" type="button" value="FILTRAR" onclick="actualizar()">Filtrar</button></a>
	{% if display_wkt %}<p> WKT debugging window:</p>{% endif %}
	{% include "floppyforms/textarea.html" %}
	<script type="text/javascript">
		{% block map_options %}var map_options = {};{% endblock %}
		{% block options %}var options = {
			geom_type: OpenLayers.Geometry.{{ geom_type }},
			id: '{{ attrs.id }}',
			is_collection: {{ is_collection|yesno:"true,false" }},
			is_linestring: {{ is_linestring|yesno:"true,false" }},
			is_point: {{ is_point|yesno:"true,false" }},
			is_polygon: {{ is_polygon|yesno:"true,false" }},
			map_id: '{{ attrs.id }}_map',
			map_options: map_options,
			map_srid: {{ map_srid }},
			name: '{{ name }}'
		};
        options['base_layer'] = new OpenLayers.Layer.Google("Google Streets", {numZoomLevels: 20, units: 'm'});
        options['point_zoom'] = 14;
        options['default_zoom'] = 7;
        options['default_lon'] = -85.207229;
        options['default_lat'] = 12.865416;
        {% endblock %}
		var {{ module }} = new MapWidget(options);
	</script>
</span>
