{% extends 'base.html' %}
{% load thumbnail %}
{% load flatpages %}
{% block TITULO %}{{ flatpage.title }}{% endblock %}
{% block CONTENIDO %}
<div align="center">
    <div  class="contenedor" style="padding-top: 80px" >
        {% include "menunavegacion.html"%}
        <div id="detallecaja" class="page">
            <h1 class="titulares">{{ flatpage.title }}</h1>
            {% thumbnail flatpage.extendedflatpage.foto "200x200" crop="center" as im %}
                <div class="pagethumb"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></div>
            {% endthumbnail %} 
            {{ flatpage.content|safe }}
            <div class="limpiar"></div>
        </div>
    </div>
</div>
{% endblock %}
